
.Approved {
  background: #32c5d2;
}
.On-Hold {
  background: #c2cad8;
}
.Rejected {
  background: #e7505a;
}
.Open {
  background: #e7505a;
}
.closed {
  background: #41ce29;
}
.PendingApproval {
  background: rgba(233, 239, 11, 0.98);
}

.priority1 {
  background: #e7505a;
}
.priority2 {
  background: #337ab7;
}
.priority3 {
  background: #41ce29;
}
.priority4 {
  background: rgba(233, 239, 11, 0.98);
}
.priority5 {
  background: #c2cad8;
}
.mt-action-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50% !important;
}
#chartdiv {
  width: 100%;
  height: 250px;
  font-size: 11px;
}

