<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>RRF Approval List</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <div class="row">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div>
                        <button type="submit" id="btnApprove" class="btn green" [disabled]='!selectedRowCount' (click)='onStatusApprove()'>Approve</button>
                        <!--<button type="button" id="btnOnHold" class="btn default"  [disabled]='!selectedRowCount' (click)='onStatusHold()'>On-Hold</button>-->
                        <button type="button" id="btnReject" class="btn red" [disabled]='!selectedRowCount' (click)='onStatusReject()'>Reject</button>
                    </div>
                    <br>
                    <div>
                        <textarea class="form-control" id="txtComment" rows="3" placeholder="Enter comment..." style="resize:vertical" [(ngModel)]='comment'
                        required=""></textarea>
                    </div>
                </div>
                <div class="portlet-body">

                    <!-- BEGIN SHOW AND SEARCH  -->
                    <div class="dataTables_wrapper no-footer">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="dataTables_length ">
                                    <label>show
                                        <select class="form-control input-sm input-xsmall input-inline">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="-1">All</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="dataTables_filter pull-right">
                                    <label>Search:
                                        <input class="form-control input-sm input-small input-inline" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SHOW AND SEARCH -->

                    <!-- BEGIN LIST OF RRF  -->
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column">
                            <thead style="word-wrap: break-word;">
                                <tr width="5%">
                                    <td>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" (change)="onAllSelect($event)" [(ngModel)]='allChecked'
                                            />
                                            <span></span>
                                        </label>
                                    </td>
                                    <td width="20%"> <b>Raise by / Date</b> </td>
                                    <td width="30%"> <b>Position Details</b> </td>
                                    <td width="30%"> <b>Requirments </b></td>
                                    <td width="15%"> <b>Status </b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" *ngFor="let rrf of rrfApprovalList">
                                    <td>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="checkboxes" value="1" [id]='rrf.RRFID' [(ngModel)]='rrf.IsChecked' (change)="onStateChange($event)"
                                            />
                                            <span></span>
                                        </label>
                                    </td>
                                    <td>
                                        <div align="left">
                                            {{rrf.RaisedBy }}
                                            <br> 30 Apr 2016
                                        </div>
                                    </td>
                                    <td>
                                        <div align="left">
                                            Practice :{{rrf.Practice.Value }}
                                            <br>Tech. : {{rrf.Technology.Value }}
                                            <br>Position : {{rrf.PositionTitle}}
                                            <br>Designation :{{rrf.Designation.Value }}
                                            <br>Openings :{{rrf.NoOfOpenings}}
                                        </div>
                                    </td>
                                    <td>
                                        <div align="left">
                                            Skills :
                                            <label *ngFor="let skill of rrf.SkillsRequired">{{skill.Value}} &#44;&nbsp;</label>
                                            <br>Date of Joining : {{rrf.ExpDateOfJoining }}
                                            <br>Min.EXP : {{rrf.MinExp }}
                                            <!--<br>Man.EXP : {{rrf.maxExp }}-->
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="mt-action-dot {{rrf.Status.Value}}"></span>{{rrf.Status.Value}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END LIST OF RRF -->
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->