<!-- <div class="circle-offscreen">
  <div id="nav" [ngClass]="{'wrapcircles': true, 'closed': isClosed}">
    <div class="circle c-1" [ngClass]="{'onTop': !isClosed}"><span><a class="link" href="#"></a></span></div>
    <div class="circle c-2" [ngClass]="{'onTop': !isClosed}"><span><a class="link" href="#"></a></span></div>
    <div class="circle c-3" [ngClass]="{'onTop': !isClosed}"><span><a class="link" href="https://www.facebook.com/Climb-on-the-Way-483075611754547/"></a></span></div>
    <div class="circle c-4" [ngClass]="{'onTop': !isClosed}"><span><a class="link" href="https://www.twitter.com/climbontheway"></a></span></div>
    <div (click)="toggleClosed()" id="click" class="circle c-5"><span><a class="link"></a></span></div>
  </div>
</div> -->
