<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Profile Bank</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Incomplete Profiles</h4>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">

                        <!-- Grid Tools bar -->
                        <div class="row" *ngIf="!NORECORDSFOUND">
                            <div class="col-md-3 col-sm-3">
                                <div class="dataTables_length" id="sample_1_length">
                                    <label>Show :
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline" 
                                            [(ngModel)]="allProfilesList.GrdOperations.PerPageCount" 
                                            (ngModelChange)="onChange()">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select>
                                        </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <label>Sort By
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-small input-inline" 
                                            [(ngModel)]="allProfilesList.GrdOperations.OrderBy"
                                            (ngModelChange)="onChange()" >
                                                <option value="Modified">Modified</option>
                                                <option value="Status/Status">Status</option>
                                            </select>
                                        </label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <label>Order By
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-small input-inline" 
                                            [(ngModel)]="allProfilesList.GrdOperations.Order"  
                                            (ngModelChange)='onChange()'>
                                                <option value="asc">Ascending</option>
                                                <option value="desc">Descending</option>
                                            </select> 
                                            </label>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div id="sample_1_filter" class="dataTables_filter">
                                    <label>Search 
                                            <input type="search" [(ngModel)]="searchString" class="form-control input-sm input-small input-inline " placeholder="" aria-controls="sample_1">
                                            </label>
                                </div>
                            </div>
                        </div>
                        <!-- /Grid Tools bar -->
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1"
                                role="grid" aria-describedby="sample_1_info">
                                <thead class="thead">
                                    <tr>
                                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Personal Info</th>
                                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Tag </th>
                                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Professional Details </th>
                                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Required Details </th>
                                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Status </th>
                                        <th tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Resume </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- NgBindings-->
                                    <!--<tr class="gradeX odd" *ngFor="let profile of allProfilesList.Profiles | ProfileBankPipe:searchString ">
                                            <td>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{profile.Candidate}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{profile.Email}} </td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{profile.PrimaryContact}}</td>
                                                </tr>
                                            </td>
                                            <td> {{profile.Tag}} </td>
                                            <td>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Notice Period : {{profile.CandidateOtherDetails.NoticePeriod}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Current Salary : {{profile.CandidateSalaryDetails.CurrentSalary}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Expected Salary : {{profile.CandidateSalaryDetails.ExpectedSalary}}</td>
                                                </tr>
                                            </td>
                                            <td>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Passport No : {{profile.CandidateOtherDetails.NoticePeriod}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Adhar Card No : {{profile.CandidateSalaryDetails.CurrentSalary}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Pan Card No : {{profile.CandidateSalaryDetails.ExpectedSalary}}</td>
                                                </tr>
                                            </td>
                                            <td>
                                                <span class="mt-action-dot color{{profile.Status.Id}}"> </span>{{profile.Status.Value}}
                                            </td>
                                            <td class="text-center">
                                                <a><i class="fa fa-download" aria-hidden="true"></i>{{profile.Resume_ID}}</a>
                                            </td>
                                        </tr>-->
                                    <!-- /NgBindings-->

                                    <!-- Sample Data -->
                                    <tr class="gradeX odd">
                                        <td>
                                            <tr>
                                                <td style="float: left;">&nbsp; Hritik Roshan</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; hritkroshan@gmail.com </td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; +91 9988775566</td>
                                            </tr>
                                        </td>
                                        <td> Builder tagg </td>
                                        <td>
                                            <tr>
                                                <td style="float: left;">&nbsp; Notice Period : 55 days</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Current Salary : 20 Cr</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Expected Salary : 200Cr</td>
                                            </tr>
                                        </td>
                                        <td>
                                            <tr>
                                                <td style="float: left;">&nbsp; Passport No : NA</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Adhar Card No : NA</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Pan Card No : NA</td>
                                            </tr>
                                        </td>
                                        <td>
                                            <span class="mt-action-dot color1"> </span>Open
                                        </td>
                                        <td class="text-center">
                                            <!--(click)='getResume(profile.CandidateID)'-->
                                            <a><i class="fa fa-download" aria-hidden="true"></i>20</a>
                                        </td>
                                    </tr>
                                    <tr class="gradeX odd">
                                        <td>
                                            <tr>
                                                <td style="float: left;">&nbsp; Hritik Roshan</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; hritkroshan@gmail.com </td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; +91 9988775566</td>
                                            </tr>
                                        </td>
                                        <td> Builder tagg </td>
                                        <td>
                                            <tr>
                                                <td style="float: left;">&nbsp; Notice Period : 55 days</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Current Salary : 20 Cr</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Expected Salary : 200 Cr</td>
                                            </tr>
                                        </td>
                                        <td>
                                            <tr>
                                                <td style="float: left;">&nbsp; Passport No : NA</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Adhar Card No : NA</td>
                                            </tr>
                                            <tr>
                                                <td style="float: left;">&nbsp; Pan Card No : NA</td>
                                            </tr>
                                        </td>
                                        <td>
                                            <span class="mt-action-dot color1"> </span>Open
                                        </td>
                                        <td class="text-center">
                                            <!--(click)='getResume(profile.CandidateID)'-->
                                            <a><i class="fa fa-download" aria-hidden="true"></i>20</a>
                                        </td>
                                    </tr>
                                    <!-- /Sample Data -->
                                </tbody>
                            </table>
                            <!--<span style="margin-top:5px;margin-left:15px" *ngIf='NORECORDSFOUND'>No Candidates Found</span>-->

                        </div>
                        <div class="row" *ngIf="!NORECORDSFOUND">
                            <div class="col-md-10">
                            </div>
                            <div class="col-md-2 ">
                                <button type="button" class="btn btn-default" [disabled]="!allProfilesList.GrdOperations.PreviousButton" (click)="OnPaginationClick(-1)">
                                        &laquo; Prev</button> &nbsp;&nbsp;
                                <button type="button" class="btn btn-default" [disabled]="!allProfilesList.GrdOperations.NextButton" (click)="OnPaginationClick(1)">
                                        Next &raquo;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->