<div align="left">
    <div class="rowHeader">
        <div class="col-lg-12 row " style="">
            <b><label style="font-size: 22px;color: #26a1ab;">RRF Code : {{RRFData.RRFCODE }}</label></b><span class="badge {{getPriorityClass(RRFData.Priority.Id)}}"><small>{{RRFData.Priority.Value}}</small></span>
            <div class="pull-right">
                <b><span  style="margin-top: 15px;" class="mt-action-dot {{getStatusClass(RRFData.Status.Id)}} "></span>{{RRFData.Status.Value}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <b>Raised By</b> :{{RRFData.RaisedBy.Value }} &nbsp;
            </div>
            <div class="col-lg-3">
                <b>Raised On</b>: {{RRFData.CreatedDate}} &nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-lg-3">
                <!--<b>Open for no. of days</b> : {{RRFData.OpenForNumberOfDays}}-->
            </div>
            <div class="col-lg-3">
                <!--<b>Status</b> :<span class="mt-action-dot {{getStatusClass(RRFData.Status.Id)}} "></span>{{RRFData.Status.Value}}-->
            </div>
        </div>

    </div>
    <hr style="margin: 9px 0;margin-right: 10px;">
    <!--<br>-->

    <div class="row">

        <div class="col-lg-3">
            Practice : {{RRFData.Practice.Value }}
            <br>Techonoly: {{RRFData.Technology.Value }}
        </div>
        <div class="col-lg-3">
            Position : {{RRFData.PositionTitle}}
            <br>Designation :{{RRFData.Designation.Value }}
        </div>
        <div class="col-lg-3">
            Openings :{{RRFData.NoOfOpenings}}
            <br>Date of Joining : {{RRFData.ExpDateOfJoining }}
        </div>
        <div class="col-lg-3">
            Min.EXP : {{RRFData.MinExp }}
            <br>Max.EXP : {{RRFData.MaxExp }}
        </div>
    </div>

    <br>

    <div>
        <b>Skills</b>:
        <label *ngFor="let skill of RRFData.SkillsRequired ">{{skill.Value}} &#44;&nbsp;</label>
    </div>

    <br>

    <div class="row">
        <!--<div>-->
        <!--<b style="margin-left: 15px;">Job Description</b>: {{RRFData.Description}}-->
        <label style="margin-left: 15px;"><b>Job Description</b>: {{RRFData.Description}}</label>
        <!--</div>-->
        <div>
            <div class="col-lg-6">
                Preferred Skills :{{RRFData.PreferredSkills}}
                <br> Competencies :{{RRFData.Competencies}}
            </div>
            <div class="col-lg-6">
                Good to Have :{{RRFData.GoodToHave}}
                <br> Qualification/ Certifications required :{{RRFData.QualCertRquired}}
            </div>
        </div>
    </div>

    <br *ngIf='displayApproval'>

    <!--<div [ifAuthorize]="['RRF.APPROVERCOLUMNVISIBILITY.MANAGE']"  *ngIf='displayApproval'>-->
    <div *ngIf='displayApproval'>
        <div *ngIf='displayApproval'>
            <div>
                <b>RRF Approver</b>:
            </div>
            <div  class="row" *ngFor="let Approvaldetails of RRFData.RRFApproval">
                <div class="col-lg-3">
                    {{Approvaldetails.Approver.Value}}
                </div>
                <div class="col-lg-1">
                    :
                </div>
                <div class="col-lg-3">
                    {{Approvaldetails.Status}}
                </div>
            </div>
        </div>
    </div>

    <br *ngIf='displayAssignedTo'>

    <div *ngIf='displayAssignedTo'>
        <div>
            <b>Assigned To</b>:
        </div>
        <div *ngFor="let AssignedDatadetails of RRFData.AssignedData">
            <div *ngIf="AssignedDatadetails.Status.Id == AssignStatus.Assigned">
                {{AssignedDatadetails.AssignedTo.Value}}
            </div>
        </div>
    </div>
</div>