<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a [routerLink]="['/vat']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">btw</a>
  <a [routerLink]="['/cost']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Kost</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Over</a>
  <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Login</a>
</nav>
