<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a [routerLink]="['/App/RRF/RRFDashboard']"> RRF Dashboard </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Candidates</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">
            <div class="portlet-body">
                <div class="col-lg-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold uppercase">RRF Details</span>
                            </div>

                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column">
                                        <thead style="word-wrap: break-word;">
                                            <tr>
                                                <td> <b>Raised by/Date</b> </td>
                                                <td> <b>Position Details</b> </td>
                                                <td> <b>Requirments </b></td>
                                                <td> <b>Priority</b></td>
                                                <td> <b>Status </b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                <!--remove hard code data-->
                                                <td>
                                                    <div align="left">
                                                        {{selectedRRF.RaisedBy.Value }}
                                                        <br> {{selectedRRF.CreatedDate}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="left">
                                                        Tech. : {{selectedRRF.Technology.Value }}
                                                        <br>Position : {{selectedRRF.PositionTitle}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="left">
                                                        Skills :<label *ngFor="let skill of selectedRRF.SkillsRequired"> 
                                                               {{skill.Value}}
                                                            </label>
                                                        <br>Date of Joining : {{selectedRRF.ExpDateOfJoining }}
                                                        <br>Min.Exp : {{selectedRRF.MinExp }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        Max.Exp : {{selectedRRF.MaxExp }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="mt-action-dot "></span> {{selectedRRF.Priority.Value}}
                                                </td>
                                                <td>
                                                    <span class="mt-action-dot "></span> {{selectedRRF.Status.Value}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject bold">Candidate Details</span>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Candidate List -->
                                <div class="col-md-7">
                                    <div class="table-scrollable list">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <!--<th>Candidate Code</th>-->
                                                    <th>Candidate</th>
                                                    <th>Status</th>
                                                    <th>Last Round Scheduled</th>
                                                    <th>Interview</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let selectedcandidate of AllCandidatesForRRF; let index = index">
                                                    <td> {{index+1}} </td>
                                                    <td> <a (click)='getCandidatesRoundHistory(selectedcandidate.CandidateID,selectedcandidate.Candidate)'> {{selectedcandidate.Candidate}}</a></td>

                                                    <td> {{selectedcandidate.InterviewDetails.Status}} </td>
                                                    <!--{{AllCandidatesForRRF.InterviewDetails.Status}}   {{AllCandidatesForRRF.InterviewDetails.Round.Value}} -->
                                                    <td> {{selectedcandidate.InterviewDetails.Round.Value}}</td>
                                                    <td> <a class="btn blue btn-outline btn-circle btn-sm active" *ngIf="!selectedcandidate.isInterviewScheduled"
                                                            (click)='onScheduleInterviewClick(selectedcandidate)'> Schedule </a>

                                                        <a class="btn blue btn-outline btn-circle btn-sm active" *ngIf="selectedcandidate.isInterviewScheduled" (click)='onReScheduleInterviewClick(selectedcandidate)'> Re-Schedule </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span *ngIf='isNull'>No Candidates Found</span>
                                    </div>
                                </div>
                                <!-- Candidate List ENDS-->
                                <!-- Candidate Details -->
                                <div class="col-md-5" style="border-left:1px solid gray">
                                    <span class="caption-subject bold" style="font-size : 14px">{{selectedCandidate}} Interview Rounds History</span>
                                    <br/> <br/>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th> # </th>
                                                <th style="width:20% !important">Round</th>
                                                <th>Interviewer</th>
                                                <th style="width:20% !important">Date</th>
                                                <th style="width:20% !important">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let candidateHistory of CandidateRoundHistory; let index = index" (mouseover)='showPopOver(candidateHistory.Comments,index+1)'
                                                id="round{{index+1}}">
                                                <td> {{index+1}} </td>
                                                <td> {{candidateHistory.Round.Value}}</td>
                                                <td> <span *ngFor="let interviewer of candidateHistory.InterviewerAvailability">{{interviewer.Interviewer.Value}} ,</span></td>
                                                <td> {{getDate(candidateHistory.InterviewDate)}}</td>
                                                <td> {{candidateHistory.Status}}</td>
                                            </tr>
                                            <!--<tr id="round" (mouseover)='showPopOver()'>
                                                <td> 1 </td>
                                                <td> Technical 1</td>
                                                <td> ABCD </td>
                                                <td> 1/7/2016 </td>
                                                <td> Selected </td>
                                            </tr>
                                            <tr>
                                                <td> 2 </td>
                                                <td> HR </td>
                                                <td> XYZ </td>
                                                <td> 4/7/2016 </td>
                                                <td> Pending </td>
                                            </tr>
                                        -->
                                        </tbody>
                                    </table>
                                    <span *ngIf='isRoundHistoryPresent'>No Candidates Round History Found</span>

                                    <hr/>
                                    <br/><br/>
                                    <base-chart class="chart" style="display:block;width:100%" [options]="doughnutChartOptions" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                        [chartType]="doughnutChartType" [colors]="doughnutChartColors"></base-chart>

                                </div>
                                <!-- Candidate Details END-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->