<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">RRF Dashboard</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">

            <div class="portlet-body">
                <div class="col-lg-12" *ngIf="isChartVisible">
                    <div class=" portlet light bordered" align="center">
                        <base-chart class="chart" [options]="doughnutChartOptions" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                            [colors]="doughnutChartColors"></base-chart>
                    </div>
                </div>

                <div class="col-lg-12" *ngIf="isListVisible" id="divRRFList">

                    <div class=" portlet light bordered">
                        <div class="portlet-title">
                            <!--<div class="row">-->
                            <div class="col-md-4">
                                <h4>Requisition List</h4>
                            </div>
                            <div class="btn-group pull-right" [ifAuthorize]="['RRF.INITIATERRF.MANAGE']">
                                <a class="btn btn-transparent red btn-outline btn-circle active" [routerLink]="['/App/RRF/MyRRF/Add']">
                                    <i class="fa fa-plus-circle"></i> Initiate RRF
                                </a>
                            </div>
                            <!--</div>-->
                        </div>


                        <!--<div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    
                                </div>
                                <div class="col-md-6 row">
                                    <div class="dt-buttons pull-right">
                                        <a class="dt-button buttons-print btn dark btn-outline" id="btnPrint">
                                            <span>Print</span>
                                        </a>
                                        <a class="dt-button buttons-pdf buttons-html5 btn green btn-outline" id="btnPDF">
                                            <span>PDF</span>
                                        </a>
                                        <a class="dt-button buttons-csv buttons-html5 btn purple btn-outline" id="btnCSV">
                                            <span>CSV</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>-->

                        <!-- BEGIN SHOW AND SEARCH  -->
                        <div class="dataTables_wrapper no-footer">
                            <div class="col-lg-12 col-sm-12 row bordered ">
                                <!--<div class="mt-radio-inline col-lg-1 col-sm-1">

                                </div>-->
                                <div class="mt-radio-inline col-lg-7 col-sm-7">
                                    <div class="col-lg-3 col-sm-3">
                                        <label class="mt-radio" [ifAuthorize]="['RRF.VIEWALLRRF.MANAGE']">
                                            <input type="radio" name="viewType" value="myRRF" [checked]="currentView == 'myRRF'" (click)="onViewChanged('myRRF')" /> My RRF
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <label class="mt-radio" [ifAuthorize]="['RRF.VIEWALLRRF.MANAGE']">
                                            <input type="radio" name="viewType" value="allRRF" [checked]="currentView == 'allRRF'" (click)="onViewChanged('allRRF') "
                                            /> All RRF
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <!--<div class="col-lg-3 col-sm-3">-->
                                        <label class="mt-radio" [ifAuthorize]="['RRF.RECRUITERUNASSIGNEDRRF.MANAGE']">
                                            <input type="radio" name="viewType" value="unAssignRRF" [checked]="currentView == 'unAssignRRF'" (click)="onViewChanged('unAssignRRF') "
                                            /> Unassigned
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-3 col-sm-3">
                                        <label class="mt-radio" [ifAuthorize]="['RRF.RECRUITERASSIGNEDRRF.MANAGE']">
                                            <input type="radio" name="viewType" value="assignRRF" [checked]="currentView == 'assignRRF'" (click)="onViewChanged('assignRRF') "
                                            /> Assigned
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-lg-2 col-sm-2" *ngIf="currentView =='assignRRF'">
                                    <select id="cmbAssignedTo" class="form-control" [(ngModel)]="selectedRecruiter.Id" (change)="onRecChange($event.target.value)">
                                        <option value="0">All</option>
                                        <option *ngFor="let recruiter of recruiterList" [value]="recruiter.Id">{{recruiter.Value}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="portlet-title">

                            </div>
                            <!--Hide Sorting / filtering if No Data Found-->
                            <div class="row" *ngIf="!NORECORDSFOUND">
                                <div class="col-lg-3 col-sm-3">
                                    <div class="dataTables_length ">
                                        <label>show
                                            <select class="form-control input-sm input-small input-inline" [(ngModel)]="grdOptions.PerPageCount" (ngModelChange)="bindGridData()">
                                                <option value="2">2</option>
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="dataTables_length ">
                                        <label>Sort By
                                            <select class="form-control input-sm input-small input-inline" [(ngModel)]="grdOptions.OrderBy" (ngModelChange)="bindGridData()">
                                                <option *ngFor="let sortColumn of SortByList" [value]="sortColumn.Value">{{sortColumn.Id}}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="dataTables_length ">
                                        <label>Order by
                                            <select class="form-control input-sm input-small input-inline" [(ngModel)]="grdOptions.Order" (ngModelChange)="bindGridData()">
                                                <option value="asc">Ascending</option>
                                                <option value="desc">Descending</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 ">
                                    <div class="dataTables_filter pull-right ">
                                        <label>Search:
                                            <input class="form-control input-sm input-small input-inline " [(ngModel)]='searchText' />
                                        </label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- END SHOW AND SEARCH -->


                        <div class="row " *ngIf="closeRRFID.Id != 0">
                            <div class="col-lg-9 ">
                                <textarea class="form-control " id="txtCloseComment " rows="1
                                            " [(ngModel)]='closeComment' placeholder="close Comment " style="resize:vertical "
                                    required=" "></textarea>
                            </div>
                            <div class="col-lg-3 ">
                                <button id="btnClose " class="btn blue " (click)="onbtnCloseRRF() ">Close RRF</button>
                                <button id="btnCancel " class="btn default " (click)="onCancelCloseRRF() ">cancel</button>
                            </div>
                        </div>


                        <!-- BEGIN LIST OF RRF  -->
                        <div class="table-scrollable ">
                            <!--<table class="table table-striped table-bordered table-hover table-checkable order-column dataTable
                                            no-footer " role="grid " aria-describedby="sample_1_info ">
                                <thead style="word-wrap: break-word; " class="thead">
                                    <tr>
                                        <td> <b>Raised by / Date</b> </td>
                                        <td> <b>Position Details</b> </td>
                                        <td> <b>Requirments </b></td>
                                        <td> <b>Priority</b></td>
                                        <td> <b>Status </b></td>
                                        <td *ngIf="currentView !='assignRRF'"> <b>Approver</b></td>
                                        <td *ngIf="currentView =='assignRRF'"> <b>Assigned To</b></td>
                                        <td> <b>Open for <br> no. of days</b></td>
                                        <td><b> Action </b></td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX " *ngFor="let rrf of rrfList | RRFPipe :searchText |RRFIDPipe :closeRRFID.Value ">
                                        <td>
                                            <div class="wraptext" style="word-wrap: break-word; " align="left ">
                                                {{rrf.RaisedBy.Value }}
                                                <br> {{rrf.CreatedDate}}
                                            </div>
                                        </td>
                                        <td>
                                            <div align="left ">
                                                Practice :{{rrf.Practice.Value }}
                                                <br>Tech. : {{rrf.Technology.Value }}
                                                <br>Position : {{rrf.PositionTitle}}
                                                <br>Designation :{{rrf.Designation.Value }}
                                                <br>Openings :{{rrf.NoOfOpenings}}
                                            </div>
                                        </td>
                                        <td>
                                            <div align="left ">
                                                Skills :
                                                <label *ngFor="let skill of rrf.SkillsRequired ">{{skill.Value}} &#44;&nbsp;</label>
                                                <br>Date of Joining : {{rrf.ExpDateOfJoining }}
                                                <br>Min.EXP : {{rrf.MinExp }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mt-action ">
                                                <div class="mt-action-body ">
                                                    <div class="mt-action-row ">
                                                        <div class="mt-action-datetime ">
                                                            <span class="mt-action-dot {{getPriorityClass(rrf.Priority.Id)}} "></span>{{rrf.Priority.Value}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="mt-action-dot {{getStatusClass(rrf.Status.Id)}} "></span>{{rrf.Status.Value}}
                                        </td>
                                        <td *ngIf="currentView !='assignRRF'">
                                            <div *ngIf="rrf.Status.Id == 1">
                                                <div *ngFor="let Approvaldetails of rrf.RRFApproval">
                                                    {{Approvaldetails.Approver.Value}}
                                                    <br>
                                                </div>
                                            </div>
                                        </td>
                                        <td *ngIf="currentView =='assignRRF'">
                                            <div>
                                                <div *ngFor="let AssignedDatadetails of rrf.AssignedData">
                                                    <div *ngIf="AssignedDatadetails.Status.Id == AssignStatus.Assigned">
                                                        {{AssignedDatadetails.AssignedTo.Value}}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div align="left ">
                                                {{rrf.OpenForNumberOfDays}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group ">
                                                <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                    Action
                                                    <i class="fa fa-angle-down "></i>
                                                </button>
                                                <ul class="dropdown-menu " role="menu ">
                                                    <li>
                                                        <button class="btn btn-default btnLink" (click)='redirectToEditRRF(rrf.RRFID)' [ifAuthorize]="[ 'RRF.EDITRRF.MANAGE'] " [disabled]='allowEditRRF(rrf.Status.Id , rrf.RaisedBy.Id)'>
                                                            <i class="fa fa-edit "></i> Edit RRF
                                                        </button>
                                                    </li>
                                                    <li class="divider " [ifAuthorize]="[ 'RRF.EDITRRF.MANAGE'] "> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink " (click)='showRRFDetails(rrf.RRFID)'>
                                                            <i class="fa fa-search-plus "></i> View RRF
                                                        </button>
                                                    </li>
                                                    <li class="divider " [ifAuthorize]="[ 'RRF.ASSIGNRRF.MANAGE'] "> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink" (click)='redirectToAssignRRF(rrf.RRFID)' [ifAuthorize]="[ 'RRF.ASSIGNRRF.MANAGE'] "
                                                        [disabled]='allowAssignRRF(rrf.Status.Id)'>
                                                            <i class="icon-user "></i> Assign RRF
                                                        </button>
                                                    </li>
                                                    <li class="divider "> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink " [ifAuthorize]="[ 'RC.VIEWRRFCANDIDATES.MANAGE'] " (click)='onViewCandidateClick(rrf.RRFID)'
                                                        [disabled]='checkIfRRFClosed(rrf.Status.Id)'>
                                                            <i class="fa fa-users "></i> View Candidates
                                                        </button>
                                                    </li>
                                                    <li class="divider " [ifAuthorize]="[ 'RRF.CLOSERRF.MANAGE'] "> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink" (click)='onCloseRRFClick(rrf.RRFID)' [ifAuthorize]="[ 'RRF.CLOSERRF.MANAGE'] " [disabled]='allowCloseRRF(rrf.Status.Id)'>
                                                            <i class="fa fa-times "></i> Close RRF
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>-->
                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable
                                            no-footer " role="grid " aria-describedby="sample_1_info ">
                                <thead style="word-wrap: break-word; " class="thead">
                                    <tr>
                                        <!--<td> <b>RRF Details</b> </td>
                                        <td width="10%"><b> Action </b></td>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX " *ngFor="let rrf of rrfList | RRFPipe :searchText |RRFIDPipe :closeRRFID.Value ">
                                        <td>
                                            <RRFGridRow [RRFData]=rrf [displayApproval]='displayApproval' [displayAssignedTo]='displayAssignedTo'></RRFGridRow>
                                        </td>
                                        <td style="width:80px">
                                            <div class="btn-group ">
                                                <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                    Action
                                                    <i class="fa fa-angle-down "></i>
                                                </button>
                                                <ul class="dropdown-menu " role="menu ">
                                                    <li>
                                                        <button class="btn btn-default btnLink" (click)='redirectToEditRRF(rrf.RRFID , rrf.Status.Id)' [ifAuthorize]="[ 'RRF.EDITRRF.MANAGE'] " [disabled]='allowEditRRF(rrf.Status.Id , rrf.RaisedBy.Id)'>
                                                            <i class="fa fa-edit "></i> Edit RRF
                                                        </button>
                                                    </li>
                                                    <li class="divider " [ifAuthorize]="[ 'RRF.EDITRRF.MANAGE'] "> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink " (click)='showRRFDetails(rrf.RRFID)'>
                                                            <i class="fa fa-search-plus "></i> View RRF
                                                        </button>
                                                    </li>
                                                    <li class="divider " [ifAuthorize]="[ 'RRF.ASSIGNRRF.MANAGE'] "> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink" (click)='redirectToAssignRRF(rrf.RRFID)' [ifAuthorize]="[ 'RRF.ASSIGNRRF.MANAGE'] "
                                                            [disabled]='allowAssignRRF(rrf.Status.Id)'>
                                                            <i class="icon-user "></i> Assign RRF
                                                        </button>
                                                    </li>
                                                    <li class="divider " [ifAuthorize]="[ 'RC.VIEWRRFCANDIDATES.MANAGE'] "> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink " [ifAuthorize]="[ 'RC.VIEWRRFCANDIDATES.MANAGE'] " (click)='onViewCandidateClick(rrf.RRFID)'
                                                            [disabled]='checkIfRRFClosed(rrf.Status.Id)'>
                                                            <i class="fa fa-users "></i> View Candidates
                                                        </button>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink" (click)='onReScheduleInterviewsClick(rrf.RRFID)'>
                                                            <i class="fa fa-calendar-check-o"></i> View Re-schedule Interviews
                                                        </button>
                                                    </li>
                                                    <li class="divider " [ifAuthorize]="[ 'RRF.CLOSERRF.MANAGE'] "> </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink" (click)='onCloseRRFClick(rrf.RRFID)' [ifAuthorize]="[ 'RRF.CLOSERRF.MANAGE'] " [disabled]='allowCloseRRF(rrf.Status.Id)'>
                                                            <i class="fa fa-times "></i> Close RRF
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span style="margin-top:5px;margin-left:15px" *ngIf='NORECORDSFOUND'>No Records Found</span>

                        </div>
                        <!-- END LIST OF RRF -->

                        <!-- START NAVIGATION BUTTON -->
                        <div class="table-toolbar" *ngIf="!NORECORDSFOUND">
                            <div class="pull-right ">
                                <button type="button " class="btn btn-default " [disabled]="!grdOptions.PreviousButton
                                  " (click)="OnPaginationClick(-1) ">
                                    &laquo; Prev</button> &nbsp;&nbsp;
                                <button type="button " class="btn btn-default " [disabled]="!grdOptions.NextButton
                                  " (click)="OnPaginationClick(1) ">
                                    Next &raquo;</button>
                            </div>
                        </div>
                        <!-- END NAVIGATION BUTTON-->
                    </div>
                </div>

                <div class=" col-lg-12 " id="divTimeLine " *ngIf="!isListVisible ">

                    <div class="portlet light bordered col-lg-10 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="table-toolbar ">
                            <div class="row ">
                                <div class="col-md-6 ">
                                    <div class="btn-group ">
                                        <a class="btn green" (click)='showListOfRRF()'>Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <view-RRF [RRFID]='viewDetailsRRFId'></view-RRF>
                    </div>
                </div>
                <!--<panel-availablity></panel-availablity>-->
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->