<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>RRF Dashboard List</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <div class="row">
            <div class="portlet-body">

                <div class="col-lg-12" id="divPiaChart">
                    <div class="portlet light bordered">
                        <div id="chartdiv" ></div>
                    </div>
                </div>

                <div class="col-lg-12" [hidden]="!isListVisible" id="divRRFList">

                    <div class=" portlet light bordered">
                        <!-- BEGIN ADD AND TOOLS  -->
                        <div class="table-toolbar">
                        </div>
                        <!-- END ADD AND TOOLS -->

                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a class="btn btn-circle dark btn-outline" [routerLink]="['/RRF/MyRRF/Add']">
                                            <i class="fa fa-plus"></i> Initiate RRF
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 row">
                                    <div class="dt-buttons pull-right">
                                        <a class="dt-button buttons-print btn dark btn-outline" id="btnPrint">
                                            <span>Print</span>
                                        </a>
                                        <a class="dt-button buttons-pdf buttons-html5 btn green btn-outline" id="btnPDF">
                                            <span>PDF</span>
                                        </a>
                                        <a class="dt-button buttons-csv buttons-html5 btn purple btn-outline" id="btnCSV">
                                            <span>CSV</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- BEGIN SHOW AND SEARCH  -->
                        <div class="dataTables_wrapper no-footer">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4">
                                    <div class="dataTables_length ">
                                        <label>show
                                            <select class="form-control input-sm input-xsmall input-inline">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="-1">All</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="viewType" id="MyRRF" value="MyRRF" checked (click)="onViewChanged('MyRRF')"/> My RRF
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                           
                                             <input type="radio" name="viewType" id="AllRRF" value="AllRRF"  (click)="onViewChanged('AllRRF')"/> All RRF
                                            <span></span>
                                        </label>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <div class="dataTables_filter pull-right">
                                        <label>Search:
                                            <input class="form-control input-sm input-small input-inline" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SHOW AND SEARCH -->

                        <!-- BEGIN LIST OF RRF  -->
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column">
                                <thead style="word-wrap: break-word;">
                                    <tr>
                                        <td width="20%"> <b>Raise by / Date</b> </td>
                                        <td width="30%"> <b>Position Details</b> </td>
                                        <td width="30%"> <b>Requirments </b></td>
                                        <td width="20%"> <b>Status </b></td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" *ngFor="let rrf of rrfList" (click)='showRRFDetails(rrf.RRFID)'>
                                        <!--remove hard code data-->
                                        <td>
                                            <div align="left">
                                                {{rrf.RaisedBy }}
                                                <br> 30 Apr 2016
                                            </div>
                                        </td>
                                        <td>
                                            <div align="left">
                                                Practice :{{rrf.Practice }}
                                                <br>Tech. : {{rrf.Technology }}
                                                <br>Position : {{rrf.PositionTitle}}
                                                <br>Designation :{{rrf.Designation }}
                                                <br>Openings :{{rrf.NoOfOpenings}}
                                            </div>
                                        </td>
                                        <td>
                                            <div align="left">
                                                Skills :{{rrf.SkillsRequired }}
                                                <br>Date of Joining : {{rrf.ExpDateOfJoining }}
                                                <br>Min.EXP : {{rrf.MinExp }}
                                                <!--<br>Man.EXP : {{rrf.maxExp }}-->
                                            </div>
                                        </td>

                                        <td>
                                            <div class="mt-action">
                                                <div class="mt-action-body">
                                                    <div class="mt-action-row">
                                                        <div class="mt-action-datetime ">
                                                            <span class="mt-action-dot {{rrf.Status}}"></span>{{rrf.Status}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END LIST OF RRF -->
                    </div>
                </div>

                <div class=" col-lg-12" id="divTimeLine" [hidden]="isListVisible">

                    <div class=" portlet light bordered col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a class="btn btn-circle dark btn-outline" (click)='showListOfRRF()'>Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <!-- TIMELINE ITEM -->
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <!--<img class="timeline-badge-userpic" src="../assets/pages/media/users/avatar80_1.jpg">-->
                                    <div class="timeline-icon">
                                        <i class="icon-user-following font-green-haze"></i>
                                    </div>
                                </div>
                                <!-- RRF DETAILS START -->
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <label href="javascript:;" class="timeline-body-title font-blue-madison">{{selectedRRF.RaisedBy}}</label>
                                            <span class="timeline-body-time font-grey-cascade">Raise on : 1 May 2016 </span>
                                        </div>

                                    </div>
                                    <div class="timeline-body-content">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span class="caption-subject bold uppercase">Job Opening Details</span>
                                            </div>
                                            <div class="actions">
                                            </div>
                                        </div>
                                        <div class="portlet light bordered">
                                            <div class="portlet   bordered">
                                                <div class="actions">
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">Practice</div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="align:right">:</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="lblPractice">{{selectedRRF.Practice}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Technology</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblTechnology">{{selectedRRF.Technology}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Position Title</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblPositionTitle">{{selectedRRF.PositionTitle}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Description</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblDescription">{{selectedRRF.Description}}</div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-5">No. Of Openings</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblNoOfOpenings">{{selectedRRF.NoOfOpenings}}</div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-5">Skills Required</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblSkillsReq">{{selectedRRF.SkillsRequired}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Designation</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblDesignation">{{selectedRRF.Designation}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Minimum Exp</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblMinExp">{{selectedRRF.MinExp}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Maximum Exp</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblMaxExp">{{selectedRRF.MaxExp}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Priority</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblPriority">{{selectedRRF.Priority}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Exp. Date Of Joining</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                    <div class="col-md-6" id="lblExpDateOfJoining">{{selectedRRF.ExpDateOfJoining}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">Interviewers Panel</div>
                                                    <div class="col-md-1" style="align:right">:</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-scrollable">
                                                            <table class="table-bordered table no-footer">
                                                                <thead>
                                                                    <tr>
                                                                        <td>Round </td>
                                                                        <td>Interviewer</td>
                                                                        <td>Comments </td>
                                                                        <td>Status </td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="odd gradeX" *ngFor='let panel of selectedRRF.Panel'>
                                                                        <td> {{panel.RoundNumber }}</td>
                                                                        <td>
                                                                            <div *ngFor='let interviewer of panel.Interviewers'>
                                                                                {{interviewer}}
                                                                            </div>
                                                                        </td>
                                                                        <td> {{panel.Comments}} </td>
                                                                        <td> {{panel.Status}} </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- RRF DETAILS END -->
                                </div>
                                <!-- END TIMELINE ITEM -->
                                <!-- TIMELINE ITEM -->
                                <div class="timeline-item">
                                    <div class="timeline-badge">
                                        <!--<img class="timeline-badge-userpic" src="../assets/pages/media/users/avatar80_2.jpg">-->
                                        <div class="timeline-icon">
                                            <i class="icon-user-following font-green-haze"></i>
                                        </div>
                                    </div>

                                    <div class="timeline-body">
                                        <div class="timeline-body-arrow"> </div>
                                        <div class="timeline-body-head">
                                            <div class="timeline-body-head-caption">
                                                <label href="javascript:;" class="timeline-body-title font-blue-madison">Abcd Xyz</label>
                                                <span class="timeline-body-time font-grey-cascade">Approved on : 5 MAy 2016</span>
                                            </div>
                                            <div class="timeline-body-head-actions"> </div>
                                        </div>
                                        <div class="timeline-body-content">
                                            <span class="font-grey-cascade">
                                                <p> comments....</p>        
                                       </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                                <!-- TIMELINE ITEM WITH GOOGLE MAP -->
                                <div class="timeline-item">
                                    <div class="timeline-badge">
                                        <!--<img class="timeline-badge-userpic" src="../assets/pages/media/users/avatar80_3.jpg">                                   -->
                                        <div class="timeline-icon">
                                            <i class="icon-user-following font-green-haze"></i>
                                        </div>
                                    </div>
                                    <div class="timeline-body">
                                        <div class="timeline-body-arrow"> </div>
                                        <div class="timeline-body-head">
                                            <div class="timeline-body-head-caption">
                                                <label class="timeline-body-title font-blue-madison">Abcd xyz</label>
                                                <span class="timeline-body-time font-grey-cascade">Assigned On : 6 May 2016</span>
                                            </div>
                                        </div>
                                        <div class="timeline-body-content">
                                            <span class="font-grey-cascade">
                                                <p> Details to whome it is Assigned</p>        
                                       </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- END TIMELINE ITEM WITH GOOGLE MAP -->

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->