<div align="left">
    <div class="col-lg-12 row">
        <div class="col-lg-4">
            <b>Candidate Name</b> : {{InterviewRecord.CandidateDetails.FullName}}
        </div>
        <div class="col-lg-4">
            <b>Interview Status</b> : {{InterviewRecord.Status}}
        </div>
          <div class="col-lg-4">
            
        </div>
    </div>
    <hr style="margin: 9px 0;margin-right: 10px;">
    <div>
        <div class="col-lg-4">
            Interview Type : {{InterviewRecord.InterviewType.Value}}
        </div>
        <div class="col-lg-4">
             Interview Mode : {{InterviewRecord.InterviewMode.Value}}
        </div>
        <div class="col-lg-4">
            Interview Date : {{InterviewRecord.InterviewDate}} on {{InterviewRecord.InterviewFromTime}}
        </div>
    </div>
</div>