<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active"> Interviewers Availability</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">
            <div class=" portlet light bordered ">
                <div class="portlet-title">
                    <div class="row">
                        <div class="col-md-4">
                            <h4><i class="fa fa-signal"></i> Interviewers availability</h4>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <panel-availablity></panel-availablity>
                </div>
            </div>
        </div>
    </div>
</div>