<universal-navbar></universal-navbar>
<div class="container">
  <section class="row">
    <div class="col-md-5">
        <timetable-calendar></timetable-calendar>
    </div>

    <div class="col-md-4">
      <div class="well">
        <timetable-settings></timetable-settings>
      </div>
    </div>

    <div class="col-md-3">
          <timetable-people></timetable-people>
    </div>

  </section>

  <section class="row">

    <div class="col-md-12">
        <timetable-schedule></timetable-schedule>
    </div>
  </section>
</div>
