<body>

  <header>
    <h1>MeetingSync</h1>
  </header>

  <section class="row">

    <div class="col-md-5 well">
      <timetable-calendar></timetable-calendar>
    </div>

    <div class="col-md-4 well">
      <timetable-settings></timetable-settings>
    </div>

    <div class="col-md-3">
      <div class="well">
          <h3>Emails of participants</h3>
          <timetable-people></timetable-people>
      </div>
    </div>

  </section>

  <section class="row">

    <div class="col-md-12 well">
      <timetable-schedule></timetable-schedule>
    </div>
  </section>

</body>
