body {
  background: white;
  margin-left: 80px;
  margin-right: 80px;

  -webkit-box-shadow: 0 0 20px 4px #EEE;
  -moz-box-shadow: 0 0 20px 4px #EEE;
  box-shadow: 0 0 20px 4px #EEE;

}
div.container {
  width: 100%;
  border: 1px solid gray;
}
h1 {
  padding-bottom: 20px;
}
header, footer {
  padding: 1em;
  color: #666666;
  background-color: #fffefd;
  clear: left;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 25px;
  background: white;
  border-bottom-style: groove;
}

.people-box{
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  border-left: .25rem solid transparent;
  display: block;
  height: auto;
  width: 220px;
}
