<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/img/SB-admin.png" width="150px;" class="user-avatar" />
			<h1>SB Admin BS 4 Angular2</h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Full Name">
					</div>

					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
					</div>
				</div>
				<a type="submit" class="btn rounded-btn" (click)="gotoDashboard()"> Register </a>&nbsp;
				<a type="submit" class="btn rounded-btn" (click)="gotoLogin()"> Login Page </a>
			</form>
		</div>	
	</div>
</div>
