<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a [routerLink]="['/App/RRF/RRFDashboard']"> RRF Dashboard </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">New RRF</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
         <div class="row">
        <div class=" portlet light bordered ">
            <div class="portlet-title">
                <div class="row">
                    <div class="col-md-4" *ngIf="isNewRRF">
                        <h4>New RRF</h4>

                    </div>
                    <div class="col-md-4" *ngIf="!isNewRRF">
                        <h4>Update RRF</h4>
                    </div>
                </div>
            </div>
            <div class="portlet-body form ">
                <!--<form role="form">-->

                <form role="form" (submit)='raiseRRF()'>

                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Practice<span class="required"> * </span></label>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group ">
                                            <select id="cmbPractice" [disabled]="!isNewRRF" required="" class="form-control" [(ngModel)]='newRRF.Practice.Id' tooltip="Select Practice"
                                            tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Practice.Id">
                                                <option value="0 " disabled>Select Practices </option>
                                                <option *ngFor="let practice of practices" [value]="practice.Id">{{practice.Value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Technology<span class="required"> * </span></label>
                                <!--<input type="text" [(ngModel)]='newRRF.Technology' id="txtTechnology" class="form-control" placeholder="Technology" />-->
                                <select id="cmbTechnology" class="form-control" [(ngModel)]='newRRF.Technology.Id' [disabled]="!isNewRRF" required placeholder="Select Technology"
                                tooltip="Select Technology" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Technology.Id">
                                    <option value="0 " disabled>Select Technology </option>
                                    <option *ngFor="let technologie of technologies" [value]="technologie.Id">{{technologie.Value}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4">
                                <label class="control-label">Position Title<span class="required"> * </span></label>
                                <div class="input-icon right">
                                    <i class="fa"></i>

                                    <input type="text" [(ngModel)]='newRRF.PositionTitle' [disabled]="!isNewRRF" id="txtPositionTitle" class="form-control" placeholder="Position Title"
                                    tooltip="Position Title" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.PositionTitle"
                                    required="" autocomplete="off" /> </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="form-group col-lg-4">
                                <label>Designation<span class="required"> * </span></label>
                                <!--<input type="text" [(ngModel)]='newRRF.Designation' id="txtDesignation" class="form-control" placeholder="Designation"/>-->
                                <select id="cmbDesignation" class="form-control" [(ngModel)]='newRRF.Designation.Id' required tooltip="Select Designation"
                                tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Designation.Id"
                                [disabled]="!isNewRRF">
                                    <option value="0 " disabled>Select Designation </option>
                                    <option *ngFor="let designation of designations" [value]="designation.Id">{{designation.Value}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!--<div class="col-lg-12">-->
                                        <label>No. Of Openings<span class="required"> * </span></label>
                                        <!--</div>-->
                                        <div>
                                            <!--<input type="text" [(ngModel)]='newRRF.NoOfOpenings' id="txtNoOfOpening" value="" name="demo_vertical" />-->
                                            <input type="number" [(ngModel)]='newRRF.NoOfOpenings' required="" id="txtNoOfOpening" min="0" tooltip="No. Of Openings"
                                            tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.NoOfOpenings">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-12">
                                            <label>Priority<span class="required"> * </span></label>
                                        </div>
                                        <div>
                                          
                                            <select id="cmbPriority" class="form-control" [(ngModel)]='newRRF.Priority.Id' required="" tooltip="Select Priority" tooltipPlacement="top"
                                            tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Priority.Id" [disabled]="!isNewRRF">
                                                <option value="0 " disabled>Select Priority </option>
                                                <option *ngFor="let priority of priorities" [value]="priority.Id">{{priority.Value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Skills Required<span class="required"> * </span></label>
                                <multiple-demo></multiple-demo>
                                <!--<Testing for Mulitiple dropdown>-->
                                <!--<div style="input-group select2-bootstrap-append ">
                                <h3>Select multiple cities</h3>
                                <ng-select id="cmbSkillsReq" [data]="value" [multiple]="true" [items]="items" [disabled]="!isNewRRF" (data)="refreshValue($event)" (selected)="selected($event)"
                                    (removed)="removed($event)" placeholder="No skills selected"></ng-select>
                                <pre>{{itemsToString(value)}}</pre>
                                <div>
                                    <button type="button" class="btn btn-primary" [(ngModel)]="disabledV" btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0">
                                        {{disabled === '1' ? 'Enable' : 'Disable'}}
                                    </button>
                                </div>
                            </div>-->
                                <!--</Testing for Mulitiple dropdown>-->

                                <div class="input-group select2-bootstrap-append ">
                                    <select id="cmbSkillsReq" class="form-control " required="" multiple tooltip="Skills Required" tooltipPlacement="top" tooltipTrigger="mouseenter"
                                    tooltipEnable="!skill.Id" [disabled]="!isNewRRF">
                                        <option value="0 " disabled>Select Skills </option>
                                        <option *ngFor="let skill of skills" [value]="skill.Id">{{skill.Value}}</option>
                                    </select>
                                    <!--<span class="input-group-btn ">
                                             <button class="btn btn-default " type="button " data-select2-open="multi-append ">
                                              <span class="glyphicon glyphicon-search "></span>
                                    </button>
                                    </span>-->
                                </div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Min Exp.<small>&nbsp;(In years)</small><span class="required"> * </span></label>
                                        <!--<input id="txtMinExp" [(ngModel)]='newRRF.MinExp' type="text" value="" name="demo_vertical" />-->
                                        <input type="number" [(ngModel)]='newRRF.MinExp' required [disabled]="!isNewRRF" id="txtMinExp" min="0" tooltip="Min Exp."
                                        tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.MinExp">
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Max Exp.<small>&nbsp;(In years)</small><span class="required"> * </span></label>
                                        <!--<input id="txtMaxExp" [(ngModel)]='newRRF.MaxExp' type="text" value="" name="demo_vertical" />-->
                                        <input type="number" required="" [(ngModel)]='newRRF.MaxExp' [disabled]="!isNewRRF" id="txtMaxExp" min="0" tooltip="Max Exp."
                                        tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.MaxExp">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Expected Date Of Joining<span class="required"> * </span></label>
                                        <div>
                                            <input type="date" [min]="mindate" name="bday" id="expectedDateOfJoining" required="" value='{{ExpDateOfJoining}}' [(ngModel)]='newRRF.ExpDateOfJoining'
                                            tooltip="Expected Date Of Joining" tooltipPlacement="top" tooltipTrigger="mouseenter"
                                            tooltipEnable="!newRRF.ExpDateOfJoining" />

                                        </div>
                                        <!--</div>-->
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Job description<span class="required"> * </span></label>
                                <textarea class="form-control" [(ngModel)]='newRRF.Description' [disabled]="!isNewRRF" id="txtDescription" rows="2" tooltip="Job description"
                                tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Description" placeholder="Job description"
                                required="" style="resize:vertical"></textarea>
                                <!--<input type="text" [(ngModel)]='newRRF.Description' id="txtDescription" class="form-control" placeholder="Description"/>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Preferred skills<span class="required"> * </span></label>
                                <textarea class="form-control"  [disabled]="!isNewRRF" id="txtDescription" rows="2" tooltip="Preferred skills"
                                tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Description" placeholder="Preferred skills"
                                required="" style="resize:vertical"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Competencies<span class="required"> * </span></label>
                                <textarea class="form-control"  [disabled]="!isNewRRF" id="txtDescription" rows="2" tooltip="Competencies"
                                tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Description" placeholder="Competencies"
                                required="" style="resize:vertical"></textarea>
                            </div>
                        </div>
                         <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Good to have<span class="required"> * </span></label>
                                <textarea class="form-control"  [disabled]="!isNewRRF" id="txtDescription" rows="2" tooltip="Good to have"
                                tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Description" placeholder="Good to have"
                                required="" style="resize:vertical"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Qualification/ Certifications required<span class="required"> * </span></label>
                                <textarea class="form-control"  [disabled]="!isNewRRF" id="txtDescription" rows="2" tooltip="Qualification/ Certifications required"
                                tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!newRRF.Description" placeholder="Qualification/ Certifications required"
                                required="" style="resize:vertical"></textarea>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Interviewers Panel : </label>
                            </div>
                        </div>
                        <form role="form" (submit)='onAddPanel()'>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="form-group portlet-body portlet light bordered  ">
                                        <div class="row">
                                            <div class="form-group "></div>
                                            <div class="form-group col-lg-4 ">
                                                <label>Interview Round<span class="required"> * </span></label>
                                                <select id="cmbIntwRound " class="form-control" required="" placeholder="Select Interview Round " [(ngModel)]='IntwRound'
                                                tooltip="Select Interview Round" tooltipPlacement="top" tooltipTrigger="mouseenter"
                                                tooltipEnable="!IntwRound">
                                                    <option value="" disabled>Select Interview Round </option>
                                                    <option *ngFor="let Round of interviewRound " [value]="Round.Id ">{{Round.Value}}</option>
                                                </select>

                                            </div>
                                            <div class="form-group col-lg-5 ">
                                                <label>Panel<span class="required"> * </span></label>
                                                <div class="input-group select2-bootstrap-append ">
                                                    <select id="cmbInterviewer" class="form-control " required="" multiple tooltip="Select Interviewers" tooltipPlacement="top"
                                                    tooltipTrigger="mouseenter" tooltipEnable="!0">
                                                        <option *ngFor="let interviewer of interviewers " [value]="interviewer.Id ">{{interviewer.Value}}</option>
                                                    </select>
                                                    <span class="input-group-btn ">
                                             <!--<button class="btn btn-default " type="button " data-select2-open="multi-append ">
    <span class="glyphicon glyphicon-search "></span>
</button>-->
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 ">
                                                <div>
                                                    <label><span>  </span></label>
                                                </div>
                                                <div *ngIf='!updatePanel'>
                                                    <button type="submit " id="btnAssign " class="btn blue ">Add Panel</button>
                                                </div>
                                                <div *ngIf='updatePanel'>
                                                    <button type="Update" id="btnUpdatePanel " class="btn blue " (click)='onUpdatePanelClick()'>Update</button>
                                                    <button type="Cancel" id="btnCancel " class="btn default " (click)='onPanelCancel()'>Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" row ">
                                            <div class="table-scrollable " *ngIf="newRRF.Panel.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column
                                                      dataTable no-footer " role="grid " aria-describedby="sample_1_info "
                                                id="panelTable ">
                                                    <thead>
                                                        <tr>
                                                            <td><b>Interview Round </b></td>
                                                            <td><b>Panel</b></td>
                                                            <td><b>Action</b></td>
                                                            <!--<td><b>Comments</b> </td>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd gradeX " *ngFor='let panel of newRRF.Panel'>
                                                            <td> {{panel.RoundNumber.Value }}</td>
                                                            <td>
                                                                <div *ngFor='let interviewer of panel.Interviewers'>
                                                                    {{interviewer.Value}}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <!--<a class="edit" (click)='onPanelEdit(panel)'> Edit </a>-->
                                                                <div class="btn-group">
                                                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                        Action
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu" role="menu">
                                                                        <li (click)='onPanelEdit(panel)'>
                                                                            <a>
                                                                                <i class="fa fa-edit"></i> Edit </a>
                                                                        </li>
                                                                        <li class="divider"> </li>
                                                                        <li (click)='onPanelDelete(panel)'>
                                                                            <a>
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                      
                        <div class="table-toolbar">
                            <!--<button type="submit " (click)='raiseRRF()' id="btnSubmit " class="btn blue ">Submit</button>-->
                            <button type="submit " *ngIf="isNewRRF" id="btnSubmit" class="btn blue ">Submit</button>
                            <button type="button " *ngIf="!isNewRRF" (click)='onUpdateClick()' id="btnUpdate" class="btn blue ">Update</button>
                            <button type="button " (click)='onCancelClick()' id="btnCancel" class="btn default ">Cancel</button>

                            <div class="col-lg-12"><span></span></div>
                            <br>

                        </div>
                    </div>
                </form>
                <!--</form>-->
            </div>
        </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->