<!-- BEGIN CONTENT -->
<div class="page-content-wrapper portlet-body">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Job Openings</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->

        <div class="row">
            <!-- BEGIN PAGE LEFT SIDE LIST OF RRF TITLE -->
            <div class="col-md-7">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <!-- BEGIN ADD AND TOOLS  -->
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a class="btn btn-circle dark btn-outline" [routerLink]="['/RRF/MyRRF/Add']">Add RRF</a>
                                    </div>
                                </div>
                                <div class="col-md-6 row">
                                    <div class="dt-buttons pull-right">
                                        <a class="dt-button buttons-print btn dark btn-outline" id="btnPrint">
                                            <span>Print</span>
                                        </a>
                                        <a class="dt-button buttons-pdf buttons-html5 btn green btn-outline" id="btnPDF">
                                            <span>PDF</span>
                                        </a>
                                        <a class="dt-button buttons-csv buttons-html5 btn purple btn-outline" id="btnCSV">
                                            <span>CSV</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END ADD AND TOOLS -->

                        <!-- BEGIN SHOW AND SEARCH  -->
                        <div class="dataTables_wrapper no-footer">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="dataTables_length ">
                                        <label>show
                                            <select class="form-control input-sm input-xsmall input-inline">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="-1">All</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="dataTables_filter pull-right">
                                        <label>Search:
                                            <input class="form-control input-sm input-small input-inline" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SHOW AND SEARCH -->

                        <!-- BEGIN LIST OF RRF  -->
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column">
                                <thead style="word-wrap: break-word;">
                                    <tr>
                                        <td> <b>Designation</b> </td>
                                        <td> <b>Technology</b> </td>
                                        <td> <b> No. Of Openings </b></td>
                                        <td> <b>Exp.Dat Of Joining</b> </td>
                                        <td> <b>Status </b></td>
                                        <td> <b>Action </b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" *ngFor="let rrf of raisedRRFList" (click)='getRRFDetails(rrf.RRFID)'>
                                        <td> {{rrf.Designation }}</td>
                                        <td> {{rrf.Technology }}</td>
                                        <td> {{rrf.NoOfOpenings}} </td>
                                        <td> {{rrf.ExpDateOfJoining}} </td>
                                        <td>
                                            <span class="mt-action-dot {{rrf.Status}}"> </span> {{rrf.Status}}
                                        </td>
                                        <td><a class="edit" href="javascript:;"> Edit </a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END LIST OF RRF -->
                    </div>
                </div>
            </div>
            <!-- END PAGE LEFT SIDE LIST OF RRF TITLE -->

            <!-- BEGIN PAGE RIGHT SIDE DETAILS OF RRF TITLE -->
            <div class="col-md-5 portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase">Job Opening Details</span>
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet light bordered">
                    <div>
                        <!--<div class="row bordered">
                            <div class="col-md-4">Completed %</div>
                            <div class="col-md-8">
                                <input align="middle" class="knob" id="knobProcessComp" data-width="150" data-fgColor="#32c5d2" data-skin="tron" data-thickness=".2"
                                data-displayPrevious=true readonly="true " value="44 " />
                            </div>
                        </div>-->
                    </div>
                    <div class="actions ">
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Practice</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblPractice ">{{selectedRRF.Practice}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Technology</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblTechnology ">{{selectedRRF.Technology}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Position Title</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblPositionTitle ">{{selectedRRF.PositionTitle}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Description</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblDescription ">{{selectedRRF.Description}}</div>
                    </div>

                    <div class="row ">
                        <div class="col-md-5 ">No. Of Openings</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblNoOfOpenings ">{{selectedRRF.NoOfOpenings}}</div>
                    </div>

                    <div class="row ">
                        <div class="col-md-5 ">Skills Required</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblSkillsReq ">{{selectedRRF.SkillsRequired}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Designation</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblDesignation ">{{selectedRRF.Designation}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Minimum Exp</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblMinExp ">{{selectedRRF.MinExp}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Maximum Exp</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblMaxExp ">{{selectedRRF.MaxExp}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Priority</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblPriority ">{{selectedRRF.Priority}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Exp. Date Of Joining</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                        <div class="col-md-6 " id="lblExpDateOfJoining ">{{selectedRRF.ExpDateOfJoining}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-5 ">Interviewers Panel</div>
                        <div class="col-md-1 " style="align:right ">:</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="table-scrollable ">
                                <table class="table-bordered table no-footer ">
                                    <thead>
                                        <tr>
                                            <td>Round </td>
                                            <td>Interviewer</td>
                                            <td>Comments </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX " *ngFor='let panel of selectedRRF.Panel'>
                                            <td> {{panel.RoundNumber }}</td>
                                            <td>
                                                <div *ngFor='let interviewer of panel.Interviewers'>
                                                    {{interviewer}}
                                                </div>
                                            </td>
                                            <td> {{panel.Comments}} </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END PAGE RIGHT SIDE DETAILS OF RRF TITLE -->
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->