<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1> Add RRF</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <div>
            <div class="portlet-body form portlet light bordered col-lg-12">
                <!--<form role="form">-->

                <div class="form-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Practice<span class="required"> * </span></label>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group ">
                                        <select id="cmbPractice" [disabled]="!isNewRRF" class="form-control" [(ngModel)]='newRRF.Practice.Id' required="">
                                            <option value="0" disabled>Select Practice </option>
                                            <option *ngFor="let practice of practices" [value]="practice.Id">{{practice.Value}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Technology<span class="required"> * </span></label>
                            <!--<input type="text" [(ngModel)]='newRRF.Technology' id="txtTechnology" class="form-control" placeholder="Technology" />-->
                            <select id="cmbTechnology" class="form-control" [(ngModel)]='newRRF.Technology.Id' [disabled]="!isNewRRF">
                                <option value="0" disabled>Select Technology </option>
                                <option *ngFor="let technologie of technologies" [value]="technologie.Id">{{technologie.Value}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="control-label">Position Title<span class="required"> * </span></label>
                            <div class="input-icon right">
                                <i class="fa"></i>

                                <input type="text" [(ngModel)]='newRRF.PositionTitle' [disabled]="!isNewRRF" id="txtPositionTitle" class="form-control" placeholder="Position Title"
                                autocomplete="off" /> </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="form-group col-lg-4">
                            <label>Designation<span class="required"> * </span></label>
                            <!--<input type="text" [(ngModel)]='newRRF.Designation' id="txtDesignation" class="form-control" placeholder="Designation"/>-->
                            <select id="cmbDesignation" class="form-control" [(ngModel)]='newRRF.Designation.Id' [disabled]="!isNewRRF">
                                <option value="0" disabled>Select Designation </option>
                                <option *ngFor="let designation of designations" [value]="designation.Id">{{designation.Value}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!--<div class="col-lg-12">-->
                                    <label>No. Of Openings<span class="required"> * </span></label>
                                    <!--</div>-->
                                    <div>
                                        <!--<input type="text" [(ngModel)]='newRRF.NoOfOpenings' id="txtNoOfOpening" value="" name="demo_vertical" />-->
                                        <input type="number" [(ngModel)]='newRRF.NoOfOpenings' id="txtNoOfOpening" min="0">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        <label>Priority<span class="required"> * </span></label>
                                    </div>
                                    <div>
                                        <!--<input id="txtPriority" [(ngModel)]='newRRF.Priority' type="text" value="" name="demo_vertical" />-->
                                        <input type="number" [(ngModel)]='newRRF.Priority' id="txtPriority" min="0">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Skills Required<span class="required"> * </span></label>

                            <!--<select id="cmbSkillsReq" class="form-control" >
                                <option value="0" disabled>Select Skills </option>
                                <option *ngFor="let skill of skills" [value]="skill.Id">{{skill.Value}}</option>
                            </select>-->
                            <div class="input-group select2-bootstrap-append ">
                                <select id="cmbSkillsReq" class="form-control " multiple [disabled]="!isNewRRF">
                                    <option value="0 " disabled>Select Skills </option>
                                    <option *ngFor="let skill of skills" [value]="skill.Id">{{skill.Value}}</option>
                                </select>
                                <span class="input-group-btn ">
                                             <button class="btn btn-default " type="button " data-select2-open="multi-append ">
                                              <span class="glyphicon glyphicon-search "></span>
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-lg-4">
                            <!--<label>Experience<small>&nbsp;(In years)</small><span class="required"> * </span></label>-->
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Min Exp.<small>&nbsp;(In years)</small><span class="required"> * </span></label>
                                    <!--<input id="txtMinExp" [(ngModel)]='newRRF.MinExp' type="text" value="" name="demo_vertical" />-->
                                    <input type="number" [(ngModel)]='newRRF.MinExp' [disabled]="!isNewRRF" id="txtMinExp" min="0">
                                </div>
                                <div class="col-lg-6">
                                    <label>Max Exp.<small>&nbsp;(In years)</small><span class="required"> * </span></label>
                                    <!--<input id="txtMaxExp" [(ngModel)]='newRRF.MaxExp' type="text" value="" name="demo_vertical" />-->
                                    <input type="number" [(ngModel)]='newRRF.MaxExp' [disabled]="!isNewRRF" id="txtMaxExp" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Expected Date Of Joining<span class="required"> * </span></label>
                                    <!--<div class="col-md-8">-->
                                    <!--<div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d" id="expectedDateOfJoining">
                                    <input type="text" class="form-control" readonly>
                                    <span class="input-group-btn">
                                             <button class="btn default" type="button">
                                                   <i class="fa fa-calendar"></i>
                                             </button>
                                        </span>
                                </div>-->
                                    <div>
                                        <input type="date" name="bday" id="expectedDateOfJoining" [(ngModel)]='newRRF.ExpDateOfJoining' />
                                    </div>
                                    <!--</div>-->
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Description<span class="required"> * </span></label>
                            <textarea class="form-control" [(ngModel)]='newRRF.Description' [disabled]="!isNewRRF" id="txtDescription" rows="2" placeholder="Description"
                            style="resize:vertical"></textarea>
                            <!--<input type="text" [(ngModel)]='newRRF.Description' id="txtDescription" class="form-control" placeholder="Description"
                                />-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Interviewers Panel :</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group portlet-body portlet light bordered  ">
                                <div class="row">
                                    <div class="form-group "></div>
                                    <div class="form-group col-lg-4 ">
                                        <label>Interview Round<span class="required"> * </span></label>
                                        <select id="cmbIntwRound " class="form-control" placeholder="Select Interview Round " [(ngModel)]='IntwRound'>
                                            <option value="0 " disabled>Select Interview Round </option>
                                            <option *ngFor="let Round of interviewRound " [value]="Round.Id ">{{Round.Value}}</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-lg-5 ">
                                        <label>Panel<span class="required"> * </span></label>
                                        <div class="input-group select2-bootstrap-append ">
                                            <select id="cmbInterviewer" class="form-control " multiple>
                                                <option value="0 " disabled>Select Interviewers </option>
                                                <option *ngFor="let interviewer of interviewers " [value]="interviewer.Id ">{{interviewer.Value}}</option>
                                            </select>
                                            <span class="input-group-btn ">
                                             <button class="btn btn-default " type="button " data-select2-open="multi-append ">
                                              <span class="glyphicon glyphicon-search "></span>
                                            </button>
                                            </span>
                                        </div>
                                        <!--<ng-select [data]="value " [multiple]="true " [items]="items " placeholder="Select
                    Interviewer " (data)="refreshValue($event) "
                                    (selected)="selected($event) " (removed)="removed($event) "></ng-select>-->
                                    </div>

                                    <div class="col-lg-3 ">
                                        <div>
                                            <label><span>  </span></label>
                                        </div>
                                        <div *ngIf='!updatePanel'>
                                            <button type="Assign " id="btnAssign " class="btn blue " (click)='onAddPanel()'>Add Panel</button>
                                        </div>
                                        <div *ngIf='updatePanel'>
                                            <button type="Update" id="btnUpdatePanel " class="btn blue " (click)='onUpdatePanelClick()'>Update</button>
                                            <button type="Cancel" id="btnCancel " class="btn default " (click)='onPanelCancel()'>Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class=" row ">
                                    <div class="table-scrollable " *ngIf="newRRF.Panel.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-checkable order-column
                    dataTable no-footer " role="grid " aria-describedby="sample_1_info " id="panelTable ">
                                            <thead>
                                                <tr>
                                                    <!--<td width="20% "><b>Round </b></td>
                                            <td width="50% "><b>Interviewer</b></td>
                                            <td width="20% "><b>Comments</b> </td>-->
                                                    <td><b>Interview Round </b></td>
                                                    <td><b>Panel</b></td>
                                                    <td><b>Action</b></td>
                                                    <!--<td><b>Comments</b> </td>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="odd gradeX " *ngFor='let panel of newRRF.Panel'>
                                                    <td> {{panel.RoundNumber.Value }}</td>
                                                    <td>
                                                        <div *ngFor='let interviewer of panel.Interviewers'>
                                                            {{interviewer.Value}}
                                                        </div>
                                                    </td>
                                                    <!--<td> {{panel.Comments}} </td>-->
                                                    <td>
                                                        <!--<a class="edit" (click)='onPanelEdit(panel)'> Edit </a>-->
                                                        <div class="btn-group">
                                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                Action
                                                                <i class="fa fa-angle-down"></i>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li (click)='onPanelEdit(panel)'>
                                                                    <a>
                                                                        <i class="fa fa-edit"></i> Edit </a>
                                                                </li>
                                                                <li class="divider"> </li>
                                                                <li (click)='onPanelDelete(panel)'>
                                                                    <a>
                                                                        <i class="fa fa-trash"></i> Delete
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                    </div>
                    <div class="col-lg-12">
                        <!--<button type="submit " (click)='raiseRRF()' id="btnSubmit " class="btn blue ">Submit</button>-->
                        <button type="submit " *ngIf="isNewRRF" (click)='raiseRRF()' id="btnSubmit" class="btn blue ">Submit</button>
                        <button type="button " *ngIf="!isNewRRF" (click)='onUpdateClick()' id="btnUpdate" class="btn blue ">Update</button>
                        <button type="button " (click)='onCancelClick()' id="btnCancel" class="btn default ">Cancel</button>

                        <div class="col-lg-12"><span></span></div>
                        <br>
                        <!--<ng2-select [data]="value " [multiple]="true " [items]="items " [disabled]="disabled
                    "  [placeholder]=" 'No city selected' "></ng2-select>-->
                    </div>
                </div>
                <!--</form>-->

            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->