<form action="#" class="form-horizontal form-bordered">
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-4">Basic Concepts</label>
            <!-- ng2 Binding -->
            <!--<label class="control-label col-md-4">{{_localFunction.FunctionLabel}}</label>
            <div class="col-md-4" [hidden]=!_localFunction.isLabel>
                <textarea class="form-control" placeholder="Enter comment..." style="resize:vertical" [(ngModel)]='_localFunction.FunctionLabel'
                    required=""></textarea>
            </div>

            <div class="col-md-2">
                <select class="form-control input-xsmall">
	                    <option>1</option>
	                    <option>2</option>
	                    <option>3</option>
	                    <option>4</option>
	                    <option>5</option>
	            </select>
                <br>
                <select class="form-control" [(ngModel)]="_localFunction.Fating.Id">
	                <option *ngFor="let rating of ratings" [value]="rating.Value">{{rating.Value}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <textarea class="form-control" id="txtComment" rows="3" placeholder="Enter comment..." style="resize:vertical" [(ngModel)]='_localFunction.FunctionValue'></textarea>
            </div>-->
            <!-- /ng2 Binding -->
        </div>
    </div>
</form>