<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left: 203px;margin-right: -15px;">

        <!--BEGIN breadcrumb -->
        <ul style="display:none" class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">My Schedule</span>
            </li>
        </ul>

        <div class="row" *ngIf="false">
            <div class="col-md-12">
                <!-- AWAITING FOR APPROVAL GRID-->

                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <span class="caption-subject bold uppercase"> Awaiting for approval</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Contact No. </th>
                                    <th> RRF Code </th>
                                    <th> Interview Mode </th>
                                    <th> Interview Time </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- NgBinding-->
                                <tr class="gradeX" *ngFor="let _awaitedInterview of AwaitedInterviewInformation ">
                                    <td> {{_awaitedInterview.CandidatePrimaryDetails.FullName}}
                                    </td>
                                    <td class="center"> {{_awaitedInterview.CandidatePrimaryDetails.Contact}} </td>
                                    <td>
                                        <a href="mailto:shuxer@gmail.com"> {{_awaitedInterview.RRFCODE}} </a>
                                    </td>
                                    <td> {{_awaitedInterview.InterviewMode.Value}} </td>
                                    <td class="center"> {{_awaitedInterview.InterviewDate}} on {{_awaitedInterview.InterviewFromTime}} </td>

                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="icon-check"></i> Accept </a>
                                                </li>
                                                <li>
                                                    <a (click)='rejectInterview()'>
                                                        <i class="icon-close"></i> Reject </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /NgBinding-->
                                <tr class="odd gradeX">
                                    <td> shuxer </td>
                                    <td class="center"> +91 9923123456 </td>
                                    <td>
                                        <a href="mailto:shuxer@gmail.com"> RRF2016 </a>
                                    </td>
                                    <td> Skype </td>
                                    <td class="center"> 12 Jan 2012 3.30 PM </td>

                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a (click)='acceptInterview()'>
                                                        <i class="icon-check"></i> Accept </a>
                                                </li>
                                                <li>
                                                    <a (click)='rejectInterview()'>
                                                        <i class="icon-close"></i> Reject </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">

                                    <td> looper </td>
                                    <td class="center"> +91 9923123456 </td>
                                    <td>
                                        <a href="mailto:looper90@gmail.com"> RRF2016 </a>
                                    </td>
                                    <td> Face to face </td>
                                    <td class="center"> 12.12.2011 4.00 PM</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="icon-check"></i> Accept </a>
                                                </li>
                                                <li>
                                                    <a (click)='rejectInterview()'>
                                                        <i class="icon-close"></i> Reject </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /AWAITING FOR APPROVAL GRID-->
                <!-- Modal Dailog-->
                <div id="rejectInterview" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                <h4 id="modalTitle" class="modal-title"></h4>
                            </div>
                            <div id="modalBody" class="modal-body">
                                <div class="row" style="margin-top:15px">
                                    <div class="form-group">
                                        <div class="col-md-4 align">
                                            <label>Reason *</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" id="title" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info" icon="fa-cross" (click)="saveEvent()" label="">Reject</button>
                                <button type="reset" icon="fa-close" class="btn btn-info" data-dismiss="modal" label="">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal Dailog-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <!-- MY SCHEDULE INTERVIEWS-->
                <div class="portlet light bordered" style="min-height: 430px;">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <span class="caption-subject bold uppercase"><i class="fa fa-calendar-check-o"></i> My Schedule</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                                <thead style="border-bottom:solid 1px rgb(231, 236, 241) !important;">
                                    <tr>
                                        <th> Name </th>
                                        <th> Contact No. </th>
                                        <th> RRF Code </th>
                                        <th> Interview Mode </th>
                                        <th> Interview Time </th>
                                        <th> Status </th>
                                        <th> Actions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- NgBinding-->
                                    <tr class="gradeX" *ngFor="let _myInterview of InterviewInformation ">
                                        <td> {{_myInterview.CandidatePrimaryDetails.FullName}}
                                        </td>
                                        <td class="center"> {{_myInterview.CandidatePrimaryDetails.Contact}} </td>
                                        <td>
                                            <a href="mailto:shuxer@gmail.com"> {{_myInterview.RRFCODE}} </a>
                                        </td>
                                        <td>
                                            <div> {{_myInterview.InterviewMode.Value}}</div>
                                            <div *ngIf="_myInterview.InterviewMode.Id == modeConstant.SkypeInterview"> Skype ID: {{_myInterview.SkypeID.Value ? _myInterview.SkypeID.Value : "N/A"}}</div>
                                            <div *ngIf="_myInterview.InterviewMode.Id == modeConstant.SkypeInterview"> Password: {{_myInterview.SkypePassword ? _myInterview.SkypePassword : "N/A"}}</div>
                                        </td>
                                        <td class="center"> {{_myInterview.InterviewDate}} on {{getTime(_myInterview.InterviewFromTime)}} </td>
                                        <td>
                                            <span class="label label-sm label-success"> {{_myInterview.Status}} </span>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="javascript:;" (click)='getResume(_myInterview.CandidateID)'>
                                                            <i class="icon-download"></i> Download Resume </a>
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-default btnLink " [disabled]='DisableIEF(_myInterview.InterviewDate,_myInterview.InterviewFromTime)'
                                                            (click)='showIEF(_myInterview.RRFID, _myInterview.CandidateID, _myInterview.DisplayCandidateInfo, _myInterview.InterviewType, _myInterview.InterviewID ,_myInterview.Status)'
                                                            style="width:100%; border-color:white;">
                                                            <span *ngIf='showSubmitIEF(_myInterview.Status)'> <i class="icon-tag"></i> Submit IEF</span>
                                                            <span *ngIf='!showSubmitIEF(_myInterview.Status)'> <i class="icon-tag"></i> Change status</span>
                                                        </button>

                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /NgBinding-->


                                </tbody>
                            </table>
                            <span style="margin-top:5px;margin-left:15px" *ngIf='NORECORDSFOUND'>No Records Found</span>
                        </div>
                    </div>
                </div>
                <!-- /MY SCHEDULE INTERVIEWS-->
            </div>
            <div class="col-md-4">
                <!-- /MY SCHEDULE INTERVIEWS CALENDAR-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-calendar font-dark"></i>
                            <span class="caption-subject bold uppercase"> Schedule Calender</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div style=" text-align-last: center;">
                            <full-calendar [resources]="InterviewerCalendarDetails.Resources" (onEventRender)="showDetails($event)" [events]="InterviewerCalendarDetails.Events"
                                [header]="header" [defaultDate]="currentDate" [eventLimit]="4" [editable]="true">
                            </full-calendar>
                        </div>
                    </div>
                </div>
                <!-- /MY SCHEDULE INTERVIEWS CALENDAR-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <span class="caption-subject bold uppercase"><i class="fa fa-history"></i> Interview History</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN SHOW AND SEARCH  -->
                        <div class="dataTables_wrapper no-footer">
                            <div class="row" *ngIf="!HISTORYRECORDSNOTFOUND">
                                <div class="col-lg-3 col-sm-3">
                                    <div class="dataTables_length ">
                                        <label>show
                                                <select class="form-control input-sm input-small input-inline" [(ngModel)]="grdOptionsIntwHistory.PerPageCount" (ngModelChange)="bindGridData()">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                </select>
                                            </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="dataTables_length ">
                                        <label>Sort By
                                                <select class="form-control input-sm input-small input-inline" [(ngModel)]="grdOptionsIntwHistory.OrderBy" (ngModelChange)="bindGridData()">
                                                    <!--<option *ngFor="let sortColumn of SortByList" [value]="sortColumn.Value">{{sortColumn.Id}}</option>-->
                                                    <option value="Modified">Modified</option>
                                                </select>
                                            </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="dataTables_length ">
                                        <label>Order by
                                                <select class="form-control input-sm input-small input-inline" [(ngModel)]="grdOptionsIntwHistory.Order" (ngModelChange)="bindGridData()">
                                                    <option value="asc">Ascending</option>
                                                    <option value="desc">Descending</option>
                                                </select>
                                            </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 ">
                                    <div class="dataTables_filter pull-right ">
                                        <label>Search:
                                                <input class="form-control input-sm input-small input-inline " [(ngModel)]='searchText' />
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SHOW AND SEARCH -->
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-checkable order-column" id="sample_1">
                                <!--<thead style="border-bottom:solid 1px rgb(231, 236, 241) !important;">
                                    <tr>
                                        <th> Interview Details </th>
                                        <th> Actions </th>
                                    </tr>
                                </thead>-->
                                <tbody>
                                    <!-- NgBinding-->
                                    <tr class="gradeX" *ngFor="let _myInterview of InterviewHistory">
                                        <td>
                                            <intwDetailsRow [InterviewRecord]=_myInterview></intwDetailsRow>
                                            <br>
                                            <br>
                                            <IEFGridRow [InterviewID]=_myInterview.InterviewID *ngIf=_myInterview.showIEF></IEFGridRow>

                                        </td>
                                        <td style="width:80px">
                                            <div class="btn-group">
                                                <button class="btn btn-xs green dropdown-toggle" (click)="onIEFClick(_myInterview)" type="button" data-toggle="dropdown"
                                                    aria-expanded="false"> {{_myInterview.IEFButtonText}}
                                                    </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /NgBinding-->


                                </tbody>
                            </table>
                            <span style="margin-top:5px;margin-left:15px" *ngIf='HISTORYRECORDSNOTFOUND'>No Records Found</span>
                        </div>

                        <div class="table-toolbar" *ngIf="!HISTORYRECORDSNOTFOUND">
                            <div class="pull-right ">
                                <button type="button " class="btn btn-default " [disabled]="!grdOptionsIntwHistory.PreviousButton
                                  " (click)="OnPaginationClick(-1) ">
                                        &laquo; Prev</button> &nbsp;&nbsp;
                                <button type="button " class="btn btn-default " [disabled]="!grdOptionsIntwHistory.NextButton
                                  " (click)="OnPaginationClick(1) ">
                                        Next &raquo;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->