<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">My Calendar</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <!--<breadcrumb></breadcrumb>-->
        <div class="row">
            <div class="col-md-12">
                <!-- My Calendar-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <span class="caption-subject bold uppercase">My Calendar</span>
                        </div>

                        <div class="tools">
                            <div>
                                <div class="form-group ">
                                    <select id="cmbRRF" class="form-control" [(ngModel)]="selectedRRFID" [disabled]="showSlotForRRF" style="min-width:150px">
                                        <!--<option value="0"  disabled>Select RRF </option>-->
                                        <option *ngFor="let rrf of myAssignedRRF" [value]="rrf.RRFID.Id">{{rrf.RRFCODE}} - {{rrf.PositionTitle}} - {{rrf.RaisedBy.Value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="tools">
                            <button class="btn btn-sm green table-group-action-submit " [disabled]="selectedRRFID == 0" (click)="addNewSlot()">{{AddNewSlotText}}</button>
                        </div>

                    </div>

                    <interview-slot [RRFID]="RRFIdTOShowSlot" [RRFCode]="RRFCode" *ngIf="showSlotForRRF" (HideSlot)="hideSlot($event)"></interview-slot>
                    <div class="portlet-body">
                        <div class="table-container">
                            <!--My Calendar Content-->
                            <full-calendar draggable="false" [resources]="_myCalendarDetails.Resources" [events]="_myCalendarDetails.Events" [header]="header" [defaultDate]="currentDate" [eventLimit]="4"
                            [editable]="true" (onEventClick)="handleEventClick($event)" [selectable]="true" [selectHelper]="true" (onEventRender)="showDetails($event)"
                            (onSelect)="handleDayClick($event)"></full-calendar>
                            <!--/My Calendar Content-->
                        </div>
                    </div>
                </div>
                <!-- /My Calendar-->
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->