<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Interviewrs</span>
            </li>
        </ul>

        <div class="row">
            <div class="col-md-12">
                <!-- AWAITING FOR APPROVAL GRID-->

                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <span class="caption-subject bold uppercase"> Awaiting for approval</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Contact No. </th>
                                    <th> RRF Code </th>
                                    <th> Interview Mode </th>
                                    <th> Interview Time </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- NgBinding-->
                                <tr class="gradeX" *ngFor="let _awaitedInterview of AwaitedInterviewInformation ">
                                    <td> {{_awaitedInterview.CandidatePrimaryDetails.FullName}}
                                    </td>
                                    <td class="center"> {{_awaitedInterview.CandidatePrimaryDetails.Contact}} </td>
                                    <td>
                                        <a href="mailto:shuxer@gmail.com"> {{_awaitedInterview.RRFCODE}} </a>
                                    </td>
                                    <td> {{_awaitedInterview.InterviewMode.Value}} </td>
                                    <td class="center"> {{_awaitedInterview.InterviewDate}} on {{_awaitedInterview.InterviewFromTime}} </td>

                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="icon-check"></i> Accept </a>
                                                </li>
                                                <li>
                                                    <a (click)='rejectInterview()'>
                                                        <i class="icon-close"></i> Reject </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /NgBinding-->
                                <tr class="odd gradeX">
                                    <!--<td>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                        <input type="checkbox" class="checkboxes" value="1" />
                                                        <span></span>
                                                    </label>
                                    </td>-->
                                    <td> shuxer </td>
                                    <td class="center"> +91 9923123456 </td>
                                    <td>
                                        <a href="mailto:shuxer@gmail.com"> RRF2016 </a>
                                    </td>
                                    <td> Skype </td>
                                    <td class="center"> 12 Jan 2012 3.30 PM </td>

                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a (click)='acceptInterview()'>
                                                        <i class="icon-check"></i> Accept </a>
                                                </li>
                                                <li>
                                                    <a (click)='rejectInterview()'>
                                                        <i class="icon-close"></i> Reject </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">

                                    <td> looper </td>
                                    <td class="center"> +91 9923123456 </td>
                                    <td>
                                        <a href="mailto:looper90@gmail.com"> RRF2016 </a>
                                    </td>
                                    <td> Face to face </td>
                                    <td class="center"> 12.12.2011 4.00 PM</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="icon-check"></i> Accept </a>
                                                </li>
                                                <li>
                                                    <a (click)='rejectInterview()'>
                                                        <i class="icon-close"></i> Reject </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /AWAITING FOR APPROVAL GRID-->
                <!-- Modal Dailog-->
                <div id="rejectInterview" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                <h4 id="modalTitle" class="modal-title"></h4>
                            </div>
                            <div id="modalBody" class="modal-body">
                                <div class="row" style="margin-top:15px">
                                    <div class="form-group">
                                        <div class="col-md-4 align"><label>Reason *</label></div>
                                        <div class="col-md-8"><input type="text" id="title" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info" icon="fa-cross" (click)="saveEvent()" label="">Reject</button>
                                <button type="reset" icon="fa-close" class="btn btn-info" data-dismiss="modal" label="">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal Dailog-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <!-- MY SCHEDULE INTERVIEWS-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <span class="caption-subject bold uppercase"> My Schedule</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Contact No. </th>
                                    <th> RRF Code </th>
                                    <th> Interview Mode </th>
                                    <th> Interview Time </th>
                                    <th> Status </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- NgBinding-->
                                <tr class="gradeX" *ngFor="let _myInterview of InterviewInformation ">
                                    <td> {{_myInterview.CandidatePrimaryDetails.FullName}}
                                    </td>
                                    <td class="center"> {{_myInterview.CandidatePrimaryDetails.Contact}} </td>
                                    <td>
                                        <a href="mailto:shuxer@gmail.com"> {{_myInterview.RRFCODE}} </a>
                                    </td>
                                    <td> {{_myInterview.InterviewMode.Value}} </td>
                                    <td class="center"> {{_myInterview.InterviewDate}} on {{_myInterview.InterviewFromTime}} </td>
                                    <td>
                                        <span class="label label-sm label-success"> {{_myInterview.Status}} </span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="icon-download"></i> Download Resume </a>
                                                </li>
                                                <li>
                                                    <a (click)='showIEF("_myInterview.InterviewID.Id _myInterview.InterviewID.Value")'>
                                                        <i class="icon-tag"></i> Submit IEF
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /NgBinding-->


                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /MY SCHEDULE INTERVIEWS-->
            </div>
            <div class="col-md-4">
                <!-- /MY SCHEDULE INTERVIEWS CALENDAR-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-calendar font-dark"></i>
                            <span class="caption-subject bold uppercase"> Schedule Calender</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div style=" text-align-last: center;">
                            <full-calendar [resources]="InterviewerCalendarDetails.Resources"
                                           [events]="InterviewerCalendarDetails.Events" 
                                           [header]="header" 
                                           defaultDate="2016-07-12"
                                           [eventLimit]="4" [editable]="true">
                            </full-calendar>
                        </div>
                    </div>
                </div>
                <!-- /MY SCHEDULE INTERVIEWS CALENDAR-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->