.calendar
{
}

.calendar-day
{
  display: block;
  border: solid 1px #123;
  margin-left: -1px;
  margin-top: -1px;
  text-align: right;
  vertical-align: text-bottom;
  padding: 8px;
}

.calendar-day.selected
{
  background: #46b5ff;
}

.calendar-day.selected:hover
{

}

.calendar-day:hover
{

}

.date-selected
{
  background: cornflowerblue;
}
.date-name
{
  text-align: center;
  display: block;
  font-size: 12px;
}
