.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:15px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:15px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-hj1s{color:#c0c0c0;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-96dg{color:#9b9b9b;vertical-align:top}
