<div class="ibox">
  <div class="ibox-title">
    <strong>Calendar<span class="pull-right">{{currentYear}} <i class="glyphicon glyphicon-calendar"></i></span></strong>
  </div>
  <div class="ibox-content">
<div class="row">

  <h4 class="text-center" style="margin: 8px;">
    <button class="btn btn-sm btn-circle btn-info pull-left m-t-n-xs" (click)="prevMonth()"><i class="glyphicon glyphicon-menu-left"></i></button>
    {{currentMonthString}}
    <button class="btn btn-sm btn-circle btn-info pull-right m-t-n-xs"(click)="nextMonth()"><i class="glyphicon glyphicon-menu-right"></i></button>
    </h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let dateName of dateNames"><span class="date-name">{{dateName}}</span></th>
      </tr>
    </thead>
      <tbody>
      <tr *ngFor="let row of [1,2,3,4,5,6]">
        <td class="" *ngFor="let col of [1,2,3,4,5,6,7]"
            (click)="dateSelect(row, col)"
            [class.date-selected]="dateSelected(row,col)">
              <span class="pull-right"
                    [class.text-success]="notCurrentMonth(row,col)">
                {{displayDay(col, row)}}
              </span>
          </td>
      </tr>
      </tbody>
      <!--<td *ngFor="let number of numbers">{{number}}</td>-->
  </table>
</div>
  </div>
</div>
