<form action="#" class="form-horizontal form-bordered">
    <div class="form-body">
        <div class="form-group">
            <!--<label class="control-label col-md-4">Basic Concepts</label>-->
            <!-- ng2 Binding -->
            <label class="control-label col-md-2">{{functionsCollection[recordCount].FunctionLabel}}</label>
            <div class="col-md-3" [hidden]="!functionsCollection[recordCount].isLabel" (change)="onUpdate()">
                <textarea class="form-control" placeholder="Enter function namesss..." style="resize:vertical" [(ngModel)]='functionsCollection[recordCount].FunctionLabel'
                    required="" [disabled]='isDisabled'></textarea>
            </div>

            <div class="col-md-2" [hidden]="!functionsCollection[recordCount].isRating">
                <select class="form-control" [(ngModel)]="functionsCollection[recordCount].Rating" (change)="onUpdate()"  [disabled]='isDisabled'>
	                <option *ngFor="let rating of ratings" value={{rating}}>{{rating}}</option>
                </select>
            </div>

            <div class="col-md-8">
                <textarea class="form-control" (change)="onUpdate()" rows="3" placeholder="Enter comment..." style="resize:vertical" [(ngModel)]='functionsCollection[recordCount].FunctionValue'  [disabled]='isDisabled'></textarea>
            </div>
            <!-- /ng2 Binding -->
        </div>
    </div>
</form>