
@media screen and (max-width: 768px) {
  .nav {
    padding-left: 2px;
    padding-right: 2px;
  }
  .nav li {
    display: block !important;
    width: 100%;
    margin: 0;
  }
  .nav li.active {
    border-bottom: 3px solid #36c6d3 !important;
    font-weight: bold !important;
    margin: 0;
  }
  .portlet.light > .portlet-title > .nav-tabs > li.active > a {
    color: #544e4e;
  }
  .inlineForm,
  .add_div,
  .fileInput {
    padding-left: 15px !important;
  }
  .addNew {
    padding: 6px 12px !important;
  }
  .btnupdate {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
  .statusComments {
   width:  258px !important;
  }
  
  .updatebtn{
  margin-left: auto!important;
  }
}
.add-new-panel {
  margin-left: 15px;
}
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.color1 {
  background: #e43a45;
}
.color2 {
  background: #36c6d3;
}
.color3 {
  background: #1bbc9b;
}
.color4 {
  background: black;
}
.color5 {
  background: #00f00d;
}
.color6 {
  background: #880000;
}
.color7 {
  background: #ffff66;
}
.color8 {
  background: blueviolet;
}
.color9 {
  background: coral;
}
.color10 {
  background: darkblue;
}
.addNew,
.fileInput {
  padding-left: 4px;
  padding-right: 4px;
  width: auto;
}
.inlineForm {
  padding-left: 0px;
}
.add_div {
  padding-left:  2px;
}
.mt-action-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  margin-left: 5px;
  margin-right: 5px;
}
.dataTables_filter {
  float: right;
  text-align: center;
}
.dataTables_length {
  float: left;
}
.dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
@media screen and (max-width: 640px) {
  .dataTables_paginate,
  .dataTables_length,
  .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}

span.select2.select2-container.select2-container--bootstrap {
  width: auto !important;
}

.btnupdate {
  margin-top: 25px;
  margin-left: -15px; 
}
.tooltip.customClass .tooltip-inner {
  color: #880000;
  background-color: #ffff66;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.tooltip.customClass .tooltip-arrow {
  display: none;
}
legend a {
  color: inherit;
}
legend.legendStyle {
padding-left: 5px;
padding-right: 5px;
}
fieldset.fsStyle {
font-family: Verdana, Arial, sans-serif;
font-size: small;
font-weight: normal;
}
legend.legendStyle {
font-size: 14px;
color: #888888;
background-color: transparent;

}

legend {
width: auto;
border-bottom: 0px;
}
.btnLink {
  text-align: left !important;
  width: 100%;
  border: white !important;
  color: #888888;
}
.list{
  border: white !important;
}
.selectedRowColor {
  background: lightseagreen;
}
.table-checkable tr>td, .table-checkable tr>th{
  max-width: inherit !important;
}
.statusComments {
   width: 400px;
}
.updatebtn{
  margin-left: 68px;
}