@media screen and (max-width: 768px) {
    .nav {
        padding-left:2px;
        padding-right:2px;
    }
    .nav li {
        display:block !important;
        width:100%;
        margin:0px;
    }
    .nav li.active {
        border-bottom:3px solid #36c6d3!important;
        font-weight: bold !important;
        margin: 0px;
    }
    .portlet.light>.portlet-title>.nav-tabs>li.active>a{
        color:#544E4E;
    }
}