<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheets">
</head>
<body>

  <app>Loading...</app>

  <script src="/node_modules/systemjs/dist/system-polyfills.js"></script>
  <script src="/node_modules/systemjs/dist/system.src.js"></script>
  <script src="/node_modules/reflect-metadata/Reflect.js"></script>
  <script src="/node_modules/es6-shim/es6-shim.min.js"></script>
  <script src="/node_modules/zone.js/dist/zone.js"></script>

  <!-- Deprecated -->
  <!-- shims:js -->
  <!-- endinject -->

  <script>
    System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>)

    System.import('<%= APP_BASE + APP_DEST %>/bootstrap')
      .catch(function (e) {
        console.error(e,
          'Report this error at https://github.com/mgechev/angular2-seed/issues');
      });
  </script>

  <!-- Deprecated -->
  <!-- inject:js -->
  <!-- endinject -->

</body>
</html>
