<div>
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="col-lg-5">
                Need Approval for :
            </div>
            <div class="col-lg-7">
                <b>{{interviewDetails.ApprovalType}}</b>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="col-lg-5">
                Reason :
            </div>
            <div class="col-lg-7" *ngIf="interviewDetails.ApprovalType != 'Fitment Issue'">
                {{interviewDetails.Reason}}
            </div>
            <div class="col-lg-7" *ngIf="interviewDetails.ApprovalType == 'Fitment Issue'">
                Interviewer's comment:{{interviewDetails.Comments}}.
                Reason:{{interviewDetails.TransferReason}}
            </div>

        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="col-lg-5">
                Candidate Name :
            </div>
            <div class="col-lg-7">
                {{interviewDetails.CandidateDetails.FullName}}
            </div>

        </div>
        <div class="col-lg-6">
            <div class="col-lg-5">
                Schedule By :
            </div>
            <div class="col-lg-7">
                {{interviewDetails.Recruiter.Value}}
            </div>

        </div>
    </div>
</div>
