<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Charts
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" (click)="gotoDashboard()">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-wrench"></i> Bootstrap Grid
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
        </div>
        <div class="col-sm-6">
            <div id="area-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <h1>&nbsp;</h1>
        <div class="col-sm-6">
            <div id="total-fruit" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-sm-6">
            <div id="snow-depth" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>