<table class="table table-striped table-bordered">
  <tr>
    <th width="10%">Available times</th>
    <th *ngFor="let date of dates">
      <div width="10%">
        <p class="text text-center">
          {{date}}
        </p>
      </div>
    </th>
  </tr>
    <tr *ngFor="let time of availableTimes">
      <th>{{time}}</th>
      <th *ngFor="let date of dates"
      (click) = "clickCell(date,time)"
      [class.cell-selected] = "isSelected(date,time)"
      [class.cell-deselected] = "!isSelected(date,time)"
      class="cell-deselected"></th>

    </tr>
</table>
