<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height:1269px">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>500 Page 
                                <small>500 </small>
                            </h1>
                        </div>
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a  [routerLink]="['/App']">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">System</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12 page-500">
                            <div class=" number font-red"style="font-size: 128px;  font-weight: 300;"> 500 </div>
                            <div class=" details">
                                <h3>Oops! Something went wrong.</h3>
                                <p> We are fixing it! Please come back in a while.
                                    <br> </p>
                                <p>
                                    <a [routerLink]="['/App']" class="btn red btn-outline"> Return home </a>
                                    <br> </p>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>