<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Profile Bank</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Recent Profiles</h4>
                            </div>

                            <div class="col-md-6">
                                <!--<div class="dt-buttons pull-right">
                                    <a class="dt-button buttons-print btn dark btn-outline" id="btnPrint">
                                        <span>Print</span>
                                    </a>
                                    <a class="dt-button buttons-pdf buttons-html5 btn green btn-outline" id="btnPDF">
                                        <span>PDF</span>
                                    </a>
                                    <a class="dt-button buttons-csv buttons-html5 btn purple btn-outline" id="btnCSV">
                                        <span>CSV</span>
                                    </a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <!--<div class="col-md-6 col-sm-6">
                                    <div class="dataTables_length" id="sample_1_length"><label>Show <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline"><option value="5">5</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select></label></div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div id="sample_1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_1"></label></div>
                                </div>-->
                            </div>

                            <div id="updateRow" [collapse]='!isCollapsed'>
                                <span class="header">Update Status</span>
                                <hr style="margin:0px 0px !important" />
                                <form role="form" (submit)="onUpdateStauts()">
                                    <div class="row" style="margin-top: 10px">
                                        <div class="col-md-3">
                                            <div class="form-group">

                                                <span class="form-control" tooltip="Candidate Name" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!currentCandidate"> {{currentCandidate}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <!--(change)='onSelectStatus($event.target.value)' -->
                                                <select class="form-control" (change)='onSelectStatus($event.target.value)' [(ngModel)]="profile.Status.Id" tooltip="Status"
                                                    tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!currentStatus">
                                                   <option *ngFor="let status of statusList" [value]="status.Id">{{status.Value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="edit-content"></div>
                                                <textarea class="form-control" rows="1" placeholder="Comments" style="resize:vertical" [(ngModel)]="profile.Comments" required=""
                                                    tooltip="Comments" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!profile.Comments">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="submit" class="btn btn-info "> Update </button>
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-info " (click)='closeUpdatePanel()'> Cancel </a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1"
                                    role="grid" aria-describedby="sample_1_info">
                                    <thead>
                                        <tr>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Name / Email / Contact</th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Tag </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Professional Details </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Status </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Resume </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Actions </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeX odd" *ngFor="let recentProfile of recentProfilesList; let index = index">
                                            <td>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{recentProfile.Candidate}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{recentProfile.Email}} </td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{recentProfile.PrimaryContact}}</td>
                                                </tr>
                                            </td>
                                            <td> {{recentProfile.Tag}} </td>
                                            <td>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Notice Period : {{recentProfile.CandidateOtherDetails.NoticePeriod}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Current Salary :{{recentProfile.CandidateSalaryDetails.CurrentSalary}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Expected Salary : {{recentProfile.CandidateSalaryDetails.ExpectedSalary}}</td>
                                                </tr>
                                            </td>
                                            <td>
                                                <span class="mt-action-dot color{{recentProfile.Status.Id}}"> </span>{{recentProfile.Status.Value}}
                                            </td>

                                            <td class="text-center"><i class="fa fa-download" aria-hidden="true"></i>{{recentProfile.Resume_ID}}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <button class="btn btn-default btnLink" [disabled]='getEditAccess(recentProfile.Owner)' (click)='redirectToEditProfile(recentProfile.CandidateID)'>
                                                                 <i class="icon-user"></i> Edit Profile 
                                                             </button>
                                                        </li>
                                                        <li class="divider"> </li>
                                                        <li>
                                                            <button class="btn btn-default btnLink" [disabled]='getEditAccess(recentProfile.Owner)' (click)='SaveCandidateID(recentProfile.CandidateID)'>
                                                                  <i class="icon-flag"></i> Update Status </button>
                                                        </li>
                                                        <li class="divider"> </li>
                                                        <li>
                                                            <a (click)='redirectToView(recentProfile.CandidateID)'>
                                                                <i class="fa fa-search"></i> View Profile
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--  Recent Profile pagination Start-->
                            <div class="row">
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-4 ">
                                    <button type="button" class="btn btn-default" [disabled]="!CandidateProfiles.GrdOperations.PreviousButton" (click)="OnPaginationClick(-1)">
                                        &laquo; Prev</button> &nbsp;&nbsp;
                                    <button type="button" class="btn btn-default" [disabled]="!CandidateProfiles.GrdOperations.NextButton" (click)="OnPaginationClick(1)">
                                        Next &raquo;</button>
                                </div>
                                </div>
                            <!--  Recent Profile pagination END-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->