<!-- Profile toolbar -->
<!--<div class="portlet light bordered">
    <div class="row">

    </div>
</div>-->
<!-- /Profile toolbar -->

<!-- Profile card -->
<div class=" light bordered">
    <div class="row">
        <!-- Profile Photo -->
        <div class="col-md-2">
            <br>
            <ul class="list-unstyled profile-nav text-center">
                <li>
                    <img class="img-responsive pic-bordered" *ngIf="profile.BinaryImage!==''" style="border-radius: 50%!important;" alt="" src="data:image/jpeg;base64,{{profile.BinaryImage}}">

                    <img src="../assets/layouts/layout4/img/default-user.jpg" *ngIf="profile.BinaryImage===''" class="img-responsive pic-bordered"
                        style="border-radius: 50%!important;" alt="">
                    <br>

                </li>
                <!--<li><a href="javascript:;">shaktiman@durdarshan.com</a></li>-->
                <li>
                    <span class="label label-sm label-success"> 
                    <i class="fa fa-mobile-phone"></i>
                    <a href="tel:{{profile.PrimaryContact}}">{{profile.PrimaryContact?profile.PrimaryContact:"N/A"}}</a>
                    </span>
                </li>

            </ul>
        </div>
        <!-- /Profile Photo -->

        <!-- Profiles Details -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8 profile-info">
                    <h3 class="font-green sbold uppercase">{{profile.Candidate}}</h3>
                    <!--<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet
                        dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.
                    </p>-->
                    <ul class="list-unstyled">
                        <li>

                            <label class="control-label">Skills : <strong> {{profile.CandidateSkills.PrimarySkills}} ;</strong> {{profile.CandidateSkills.OtherSkills}} ; {{profile.CandidateSkills.PrimarySkills}} C#, JAVA, SharePoint, WCF, WPF,C#, JAVA, SharePoint, WCF, WPF</label>
                            <!--<label class="control-label">Skills : <strong> C#, JAVA, SharePoint, WCF, WPF,C#, JAVA, SharePoint, WCF, WPF</strong></label>-->
                        </li>
                        <li>
                            <label class="control-label">Current Salary : <strong><i class="fa fa-inr"></i>{{profile.CandidateSalaryDetails.CurrentSalary?profile.CandidateSalaryDetails.CurrentSalary:"N/A"}}</strong></label>
                        </li>
                        <li>
                            <label class="control-label">Expected Salary : <strong><i class="fa fa-inr"></i>{{profile.CandidateSalaryDetails.ExpectedSalary?profile.CandidateSalaryDetails.ExpectedSalary:"N/A"}}</strong></label>
                        </li>
                    </ul>
                    <p>
                        <a href="mailto:{{profile.Email}}">{{profile.Email?profile.Email:"N/A"}} </a>
                    </p>
                    <ul class="list-inline">
                        <li>
                            <i class="fa fa-map-marker"></i> Bangloer </li>
                        <li>
                            <i class="fa fa-briefcase"></i>{{profile.TotalExperience?profile.TotalExperience:"N/A"}} </li>
                        <li>
                            <i class="fa fa-tag"></i> {{profile.Tag?profile.Tag:"N/A"}} </li>
                        <li>
                            <i class="fa fa-hourglass-half"></i> {{profile.CandidateOtherDetails.NoticePeriod?profile.CandidateOtherDetails.NoticePeriod:"N/A"}}
                        </li>
                    </ul>
                </div>
                <!--end col-md-8-->
                <div class="col-md-4">
                    <div class="portlet sale-summary">
                        <div class="portlet-title">
                            <!--<div class="caption font-red sbold"> <i aria-hidden="true" class="fa fa-download"></i> Download Resume </div>
                            <div class="tools">
                                <a class="reload" href="javascript:;" data-original-title="" title=""> </a>
                            </div>-->
                        </div>
                        <div class="portlet-body">
                            <ul class="list-unstyled">
                                <li>
                                    <h5 class="font-blue sbold uppercase">{{profile.Owner.Value?profile.Owner.Value:"N/A"}}</h5>
                                </li>
                                <li>
                                    <span class="mt-action-dot color{{profile.Status.Id}}"> </span>{{profile.Status.Value}}
                                </li>
                                <li>
                                    <div class="tools">
                                        <a (click)='getResume(profile.CandidateID)' class="reload" data-original-title="" title=""><i aria-hidden="true" class="fa fa-download"></i>Download Resume {{profile.Resume_ID}}  </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end col-md-4-->
            </div>
        </div>
        <!-- /Profiles Details -->
    </div>
</div>
<!-- /Profile card -->