<!-- Profile toolbar -->
<!--<div class="portlet light bordered">
    <div class="row">

    </div>
</div>-->
<!-- /Profile toolbar -->

<!-- Profile card -->
<div class=" light bordered">
    <div class="row">
        <!-- Profile Photo -->
        <div class="col-md-2">
            <br>
            <ul class="list-unstyled profile-nav text-center">
                <li>
                    <img src="../assets/layouts/layout4/img/default-user.jpg" class="img-responsive pic-bordered" style="border-radius: 50%!important;"
                        alt="">
                </li>
                <!--<li><a href="javascript:;">shaktiman@durdarshan.com</a></li>-->
                <li> <a href="tel:9988776655">+91 9988776655</a></li>

            </ul>
        </div>
        <!-- /Profile Photo -->

        <!-- Profiles Details -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8 profile-info">
                    <h3 class="font-green sbold uppercase">John Doe</h3>
                    <!--<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet
                        dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.
                    </p>-->
                    <ul class="list-unstyled">
                        <li>
                            <label class="control-label">Current Salary : <strong><i class="fa fa-inr"></i>6,00,000.00</strong></label>
                        </li>
                        <li>
                            <label class="control-label">Expected Salary : <strong><i class="fa fa-inr"></i>9,00,000.00</strong></label>
                        </li>
                        <li><label class="control-label">Skills : <strong>C#, JAVA, SharePoint, WCF, WPF</strong></label>
                        </li>
                    </ul>
                    <p>
                        <a href="mailto:shaktiman@durdarshan.com?cc=shaktiman@durdarshan.com">shaktiman@durdarshan.com</a>
                    </p>
                    <ul class="list-inline">
                        <li>
                            <i class="fa fa-map-marker"></i> Bangloer </li>
                        <li>
                            <i class="fa fa-briefcase"></i> 5 yr </li>
                        <li>
                            <i class="fa fa-tag"></i> SharePoint </li>
                        <li>
                            <i class="fa fa-hourglass-half"></i> 45 Days </li>
                    </ul>
                </div>
                <!--end col-md-8-->
                <div class="col-md-4">
                    <div class="portlet sale-summary">
                        <div class="portlet-title">
                            <!--<div class="caption font-red sbold"> <i aria-hidden="true" class="fa fa-download"></i> Download Resume </div>
                            <div class="tools">
                                <a class="reload" href="javascript:;" data-original-title="" title=""> </a>
                            </div>-->
                        </div>
                        <div class="portlet-body">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="mt-action-dot color2"> </span>Open
                                </li>
                                <li>
                                    <div class="tools">
                                        <a class="reload" href="javascript:;" data-original-title="" title=""><i aria-hidden="true" class="fa fa-download"></i> Download Resume </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end col-md-4-->
            </div>
        </div>
        <!-- /Profiles Details -->
    </div>
</div>
<!-- /Profile card -->