body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  outline: none;
  padding: 7px;
}

.numericInput {
  text-align: center;
}

button.formButton {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

button.formButton:hover {
  background-color: #28789e;
}
