<p>TechyTax is een online boekhoudpakket voor kleine bedrijven (eenmanszaak, zzp, vof).
  Het berekent de btw en geeft fiscale overzichten. Hiervoor is geen boekhoudkundige kennis vereist.
  Het doel van dit project is om, m.b.v. de laatste technieken, de belastingaangifte zo simpel mogelijk te maken.</p>

<h2>Voordelen</h2>
<ul>
  <li>Gebruiksvriendelijk</li>
  <li>Veilige opslag van gegevens</li>
  <li>Geen boekhoudkundige kennis vereist</li>
  <li>Open Source, broncode vrij beschikbaar op GitHub</li>
</ul>
