<!-- BEGIN LOGO -->
<div class="logoNew">
    <a href="index.html">
        <img src="../assets/global/img/social/logo-big.png" alt=""> </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" (submit)="doLogin($event)" novalidate="novalidate">
        <h3 class="form-title">Login to your account</h3>
        <div class="alert alert-danger display-hide" *ngIf='LoginFailed' style="display: block;">
            <button class="close" (click)='closeAlert()' data-close="alert"></button>
            <span> Invalid user name and password..! </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="model.UserName" autocomplete="off" placeholder="User name"
                    name="username"> </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" [(ngModel)]="model.Password" autocomplete="off" placeholder="Password"
                    name="password"> </div>
        </div>
        <div class="form-actions">
            <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" value="1"> Remember me
                        <span></span>
                    </label>
            <button type="submit" class="btn green pull-right"> Login </button>
        </div>
        <div class="login-options">
            <h4>Like us On</h4>
            <ul class="social-icons">
                <li>
                    <a class="facebook" data-original-title="facebook"> </a>
                </li>
                <li>
                    <a class="twitter" data-original-title="Twitter" href="javascript:;"> </a>
                </li>
                <li>
                    <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
                </li>
                <li>
                    <a class="linkedin" data-original-title="Linkedin" href="javascript:;"> </a>
                </li>
            </ul>
        </div>
        <div class="forget-password">
            <h4>Forgot your password ?</h4>
            <p> no worries, click
                <a href="javascript:;" id="forget-password"> here </a> to reset your password. </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div>