<h1>Btw Aangifte berekenen</h1>
<div *ngIf="transactionsLoaded === 0">
  <p>
    Bereken hier je btw. Laad eerst een bestand met transacties die je kunt downloaden van je
    online bankieren site of van de OV chipkaart site.
  </p>
  <p>
    <strong>Let op:</strong> Er wordt nog niets naar de TechyTax server gestuurd. Eerst
    moeten het type van alle transacties bekend zijn. Je kunt er nu ook voor kiezen om
    de btw in je browser te berekenen.
  </p>
</div>
<div>
  <input type="file" (change)="fileChangeEvent($event)" placeholder="Laad transacties..." />
  <button type="button" (click)="upload()">Laad transacties</button>
</div>
<div *ngIf="transactionsLoaded > 0">
  <p>Er zijn {{transactionsLoaded}} transacties geladen.</p>
  <div [ngSwitch]="transactionsUnmatched > 0">
    <p *ngSwitchCase="false">Alle transacties zijn gematched.</p>
    <p *ngSwitchCase="true">Er zijn nog {{transactionsUnmatched}} onbekende transacties (zie kolom 'Zakelijk/Prive'). Voeg matches toe m.b.v. het zoekfilter hieronder.</p>
  </div>

  <cost-type-selector (select)="costMatch.costType = $event"></cost-type-selector>
  <vat-type-selector *ngIf="displayVatTypeSelector()" (select)="costMatch.vatType = $event"></vat-type-selector>
  <cost-character-selector (select)="costMatch.costCharacter = $event"></cost-character-selector>
  <input [(ngModel)]="costMatch.percentage" placeholder="percentage">
  <input [(ngModel)]="costMatch.fixedAmount" placeholder="vast bedrag (netto)">
  <button (click)="addMatch()" [disabled]="addMatchDisabled()">Match toevoegen</button>
  <button (click)="calculateVat()" [disabled]="calculateVatDisabled()">Bereken btw</button>
  <div>
    btw uit: {{vatReport.totalVatOut}}
  </div>
  <div>
    btw in: {{vatReport.totalVatIn}}
  </div>
  <vaadin-date-picker label="Kies een datum"></vaadin-date-picker>

  <transaction-table [data]="transactions"
                     [rows]="transactionTable.rows"
                     [length]="transactions.length">
  </transaction-table>
</div>
