  <!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="online boekhouden, boekhoudpakket, btw, aangifte, omzetbelasting, factuur">
  <meta name="description" content="TechyTax is een online boekhoudpakket voor eenmanszaak, zzp, vof. Het berekent de btw en geeft fiscale overzichten. Geen boekhoudkundige kennis vereist.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://github.com/beemsoft">
  <link rel="stylesheet" href="/dist/dev/css/okaida.css">
  <link rel="stylesheet" href="/dist/dev/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/dist/dev/css/dataTables.css">
  <link rel="stylesheet" href="/dist/dev/css/styles.css">
  <link rel="import" href="elements.html">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

  <sd-app>Momentje, bezig met laden...</sd-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

  <% if (ENV === 'dev') { %>
  <script src="/app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
    document.addEventListener('WebComponentsReady', function() {
      System.import('<%= BOOTSTRAP_MODULE %>')
        .catch(function (e) {
          console.error(e,
            'Report this error at https://github.com/mgechev/angular2-seed/issues');
        });
    });
  </script>
  <% } %>

</body>
</html>
