<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <!--BEGIN breadcrumb -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a [routerLink]="['/App']"> Home </a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Profile Bank</span>
            </li>
        </ul>
        <!--End Breadcrumb>-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <h4>All Profiles</h4>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="dt-buttons pull-right">
                                    <button class="btn btn-md green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Mass Actions
                                              <i class="fa fa-angle-down"></i>
                                   </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <button class="btn btn-default btnLink" (click)='openMailWindow()' [disabled]='!selectedRowCount'>
                                                <i class="fa fa-envelope-o"></i>   Send Mails </button>
                                        </li>
                                        <li class="divider" [ifAuthorize]="[ 'PROFILEBANK.TRANSFEROWNERSHIP.MANAGE'] "> </li>
                                        <li>
                                            <button class="btn btn-default btnLink" [ifAuthorize]="[ 'PROFILEBANK.TRANSFEROWNERSHIP.MANAGE'] " [disabled]='!selectedRowCount' (click)='transferOwnerShipClick()'>
                                                <i class="fa fa-share"></i>     Transfer Ownership
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">

                            <div id="updateRow" *ngIf='isCollapsed'>
                                <span class="header">Update Status</span>
                                <hr style="margin:0px 0px !important" />
                                <form role="form" (submit)="onUpdateStauts()">
                                    <div class="row" style="margin-top: 10px">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <span class="form-control" tooltip="Candidate Name" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!currentCandidate"> {{currentCandidate}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <!--(change)='onSelectStatus($event.target.value)' -->
                                                <select class="form-control" (change)='onSelectStatus($event.target.value)' [(ngModel)]="profile.Status.Id" tooltip="Status"
                                                    tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!currentStatus">
                                                   <option *ngFor="let status of statusList" [value]="status.Id">{{status.Value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="edit-content"></div>
                                                <textarea class="form-control" rows="1" placeholder="Comments" style="resize:vertical" [(ngModel)]="profile.Comments" required=""
                                                    tooltip="Comments" tooltipPlacement="top" tooltipTrigger="mouseenter" tooltipEnable="!profile.Comments">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="submit" class="btn btn-info "> Update </button>
                                        </div>
                                        <div class="col-md-1">
                                            <a class="btn btn-info " (click)='closeUpdatePanel()'> Cancel </a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="row" *ngIf="!NORECORDSFOUND">
                                <div class="col-md-3 col-sm-3">
                                    <div class="dataTables_length" id="sample_1_length">
                                        <label>Show :
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline" 
                                            [(ngModel)]="allProfilesList.GrdOperations.PerPageCount" 
                                            (ngModelChange)="onChange()">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <label>Sort By
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-small input-inline" 
                                            [(ngModel)]="allProfilesList.GrdOperations.OrderBy"
                                            (ngModelChange)="onChange()" >
                                                <option value="Modified">Modified</option>
                                                <option value="Status/Status">Status</option>
                                            </select>
                                        </label>
                                </div>
                                 <div class="col-md-3 col-sm-3">
                                    <label>Order By
                                            <select name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-small input-inline" 
                                            [(ngModel)]="allProfilesList.GrdOperations.Order"  
                                            (ngModelChange)='onChange()'>
                                                <option value="asc">Ascending</option>
                                                <option value="desc">Descending</option>
                                            </select> 
                                            </label>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div id="sample_1_filter" class="dataTables_filter">
                                        <label>Search 
                                            <input type="search" [(ngModel)]="searchString" class="form-control input-sm input-small input-inline " placeholder="" aria-controls="sample_1">
                                            </label>
                                    </div>
                                </div>
                            </div>

                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1"
                                    role="grid" aria-describedby="sample_1_info">
                                    <thead class="thead">
                                        <tr>
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" (change)="onAllSelect($event)"
                                                     [(ngModel)]='allChecked'/><span></span>
                                                </label>
                                            </td>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Personal Info</th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Tag </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Professional Details </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Status </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Resume </th>
                                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--CandidateProfiles   allProfilesList.Profiles-->
                                        <tr class="gradeX odd" *ngFor="let profile of allProfilesList.Profiles | ProfileBankPipe:searchString ">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="checkboxes" value="1" [id]='profile.CandidateID' [(ngModel)]='profile.IsChecked' (change)="onStateChange($event)"/>
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{profile.Candidate}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{profile.Email}} </td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; {{profile.PrimaryContact}}</td>
                                                </tr>

                                            </td>
                                            <td> {{profile.Tag}} </td>
                                            <td>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Notice Period : {{profile.CandidateOtherDetails.NoticePeriod}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Current Salary : {{profile.CandidateSalaryDetails.CurrentSalary}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left;">&nbsp; Expected Salary : {{profile.CandidateSalaryDetails.ExpectedSalary}}</td>
                                                </tr>

                                            </td>
                                            <td>
                                                <span class="mt-action-dot color{{profile.Status.Id}}"> </span>{{profile.Status.Value}}
                                            </td>
                                            <td class="text-center">
                                                <!--(click)='getResume(profile.CandidateID)'-->
                                                <a ><i class="fa fa-download" aria-hidden="true"></i>{{profile.Resume_ID}}</a>
                                            </td>
                                            <td style="width:8%">
                                                <div class="btn-group">
                                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <button class="btn btn-default btnLink" [disabled]='getEditAccess(profile.Owner)' (click)='redirectToEditProfile(profile.CandidateID)'>
                                                                 <i class="icon-user"></i> Edit Profile 
                                                             </button>
                                                        </li>
                                                        <li class="divider"> </li>

                                                        <li>
                                                            <button class="btn btn-default btnLink" [disabled]='getEditAccess(profile.Owner)' (click)='SaveCandidateID(profile.CandidateID)'>
                                                                  <i class="icon-flag"></i> Update Status </button>
                                                        </li>
                                                        <li class="divider"> </li>
                                                        <li>
                                                            <a (click)='redirectToView(profile.CandidateID)'>
                                                                <i class="fa fa-search-plus"></i>View Profile</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span style = "margin-top:5px;margin-left:15px" *ngIf='NORECORDSFOUND'>No Candidates Found</span>

                            </div>
                            <div class="row" *ngIf="!NORECORDSFOUND">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2 ">
                                    <button type="button" class="btn btn-default" [disabled]="!allProfilesList.GrdOperations.PreviousButton" (click)="OnPaginationClick(-1)">
                                        &laquo; Prev</button> &nbsp;&nbsp;
                                    <button type="button" class="btn btn-default" [disabled]="!allProfilesList.GrdOperations.NextButton" (click)="OnPaginationClick(1)">
                                        Next &raquo;</button>
                                </div>
                            </div>
                            <div>
                                <!--<rms-grid [meta]="meta"></rms-grid>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
</div>